{% load i18n static %}

{% for draft in drafts %}
  <div class="col">
    <div class="card shadow-sm">
      <div id="gallery">
        <a href="{{ draft.get_draft_url }}"
           data-pswp-width="500"
           data-pswp-height="300"
           target="_blank">
          <img class="bd-placeholder-img card-img-top" src="{{ draft.get_draft_url }}">
        </a>
      </div>
      <div class="card-body">
        <p class="card-text"><strong>{{ draft.label }}</strong></p>
        <p class="card-text">{{ draft.description }}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
          </div>
          <small class="text-body-secondary small text-muted">{{ draft.created_at }}</small>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
