{% extends "./equations.html" %}

{% load static %}
{% block head %}
<title>Операції з Матрицями</title>
{% endblock %}

{% block tasks %}
<link type="text/css" href="{% static 'solvexample.css' %}" rel="stylesheet">
<div style="margin-top: 50px;">
    <h1 style="text-align: center; font-size: 50px;">Операції з Матрицями</h1>
    <div style="text-align: center;">
        <div class="choice-calculation-type">
            <a class="btn btn-primary" href="{% url 'equations' %}">Вирази з невідомими аргументами</a>
            <a class="btn btn-primary" href="{% url 'percents' %}">Знайти відсоток</a>
            <a class="btn btn-primary" href="{% url 'matrices' %}">Операції з матрицями</a>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
{% load static %}
<div style="text-align: center;" xmlns="http://www.w3.org/1999/html">
    <form class="input-form">
        <div class="matrix-container">
            <textarea class="form-control matrix"
                      placeholder="[a, b, c, d, e, f],&#10;[g, h, i, j, k, l],&#10;[m, n, o, p, q, r]"
                      id="matrixA" maxlength="100"></textarea>
            <input id="option-plus" class="form-control special" style="width: 37px; height: 37px;" type="radio" name="option" value="+">
            <label for="option-plus">+</label>

            <input id="option-minus" class="form-control special" style="width: 37px; height: 37px;" type="radio" name="option" value="-">
            <label for="option-minus">-</label>

            <input id="option-multiply" class="form-control special" style="width: 37px; height: 37px;" type="radio" name="option" value="*">
            <label for="option-multiply">*</label>
            <textarea class="form-control matrix"
                      placeholder="[a, b, c, d, e, f],&#10;[g, h, i, j, k, l],&#10;[m, n, o, p, q, r]"
                      id="matrixB" maxlength="100"></textarea>
        </div>
    </form>
    <button class="btn btn-outline-primary" style="margin-top: 20px;" onclick="checkIsItMathSymbol()">Розв'язати приклад</button>
    {% if solved_example is not none %}
    <p style="margin-top: 30px; margin-bottom: -30px; font-size: 30px;"><b>Приклад:</b></p>
    <div class="users-matrix">
        <a style="margin-top: 30px; font-size: 30px;">
            {% for a in matrix_a %}
            {{ a }} <br />
            {% endfor %}
        </a>
        <a style="margin-top: 30px; font-size: 30px;">
            &nbsp;{{ operator }}&nbsp;
        </a>
        <a style="margin-top: 30px; font-size: 30px;">
            {% for b in matrix_b %}
            {{ b }} <br />
            {% endfor %}
        </a>
    </div>
    <div>
        <p style="margin-top: 30px; font-size: 30px;"><b>Розв'язок:</b></p>
        <a style="margin-top: 30px; font-size: 30px;">
        {% for i in solved_example %}
             {{ i }} <br />
        {% endfor %}
        </a>
    </div>
    {% endif %}
</div>
<script src="{% static 'solvexample.js' %}"></script>
{% endblock %}