<script type="text/hyperscript">
  on change from .checker
  if (document.querySelectorAll(".checker:checked").length <= 0 or document.querySelectorAll(".checker:checked").length > 10)
    add .disabled to #share-btn
  else
    remove .disabled from #share-btn
</script>

<script type="text/hyperscript">
  on change from .checker
  if (document.querySelectorAll(".checker:not(:checked)").length > 0)
    set #general-checker.checked to false
  else
    set #general-checker.checked to true
</script>

<script type="text/hyperscript">
  on click from .general-checker
  if (document.querySelectorAll(".checker:checked").length <= 0 or document.querySelectorAll(".checker:checked").length > 10)
    add .disabled to #share-btn
  else
    remove .disabled from #share-btn
</script>

<script type="text/hyperscript">
  on click from #pre-share-btn
  if (document.querySelectorAll(".checker:checked").length <= 0 or document.querySelectorAll(".checker:checked").length > 10)
    add .disabled to #share-btn
  else
    remove .disabled from #share-btn
</script>
