{% load i18n static %}

<div class="form-check mb-3 d-none general-form-album-checker" style="font-size: 25px;">
  <input type="checkbox"
         id="general-checker"
         _="on click for checkbox in .checker set checkbox.checked to me.checked"
         name="general-check"
         class="form-check-input general-checker mt-2"/>
  <label class="form-check-label" for="general-checker" style="font-size: 22px;">
    {% translate 'Select all' %}
  </label>
</div>

{% if drafts %}
  <div id="album-view-drafts-js">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"
         id="gallery"
         data-toast-trigger
         hx-get="{{ request.get_full_path }}"
         hx-trigger="draftDeleted from:body delay:0.6s"
    >
      {% for draft in drafts %}
        <form id="draftForm-{{ draft.uuid }}" class="col album-draft-base-{{ draft.uuid }}">
          <div class="card shadow-sm">
            <div class="d-none checks d-flex justify-content-center">
              <input style="font-size: 25px;"
                     class="form-check-input checker m-2"
                     type="checkbox"
                     name="draftToShare"
                     value="{{ draft.uuid }}">
            </div>
            <a href="{{ draft.get_draft.url }}"
               data-pswp-width="{{ draft.get_draft.width }}"
               data-pswp-height="{{ draft.get_draft.height }}"
               target="_blank">
              <img class="bd-placeholder-img card-img-top" style="max-width: 430px; max-height: 330px;" src="{{ draft.get_draft.url }}">
            </a>
            <div class="card-body">
              <div class="mb-3 card-text d-flex align-items-center justify-content-between">
                <strong>{{ draft.label }}</strong>
                {% if not draft.is_public_available %}
                  <i class="ti ti-lock text-warning"
                     style="font-size: 23px"
                     data-bs-toggle="tooltip" data-bs-placement="top"
                     title="{% translate 'This draft is not public available.' %}"></i>
                {% endif %}
              </div>
              <p class="card-text">{{ draft.description|default:'' }}</p>
              <div class="d-flex justify-content-between align-items-center flex-md-row flex-column">
                {% if request.theorist == draft.theorist %}
                  <div class="btn-group">
                    <button type="button"
                            hx-get="{% url 'mathlab:drafts:drafts-edit' draft.uuid %}?view={{ request.GET.view }}"
                            hx-target="#drafts-management-modal"
                            hx-trigger="click"
                            data-toast-trigger
                            data-bs-toggle="modal"
                            data-bs-target="#drafts-management-modal"
                            class="btn btn-sm btn-outline-secondary">
                      {% translate 'Edit' %}
                    </button>
                    <button type="button"
                            data-toast-trigger
                            hx-delete="{% url 'mathlab:drafts:drafts-delete' draft.uuid %}?view={{ request.GET.view }}"
                            hx-swap="innerHTML swap:0.5s"
                            hx-target=".album-draft-base-{{ draft.uuid }}"
                            hx-confirm="{% translate 'Are you sure?' %}"
                            class="btn btn-sm btn-outline-danger">
                      {% translate 'Delete' %}
                    </button>
                  </div>
                {% else %}
                  <button class="btn btn-sm btn-outline-danger"
                          hx-get="{% url 'complaints:complaint-create' 'draft' draft.uuid %}"
                          data-toast-trigger
                          hx-target="#complaint-modal"
                          data-bs-target="#complaint-modal"
                          data-bs-toggle="modal"
                          type="button">
                    <i class="ti ti-clipboard-x"></i> {% translate 'Complain' %}
                  </button>
                {% endif %}
                <small class="text-body-secondary small text-muted">{{ draft.created_at }}</small>
              </div>
            </div>
          </div>
        </form>
      {% endfor %}
    </div>
    <div class="mt-5">
      {% include 'common/pagination.html' with htmx_target="#album-view-drafts-js"  %}
    </div>
    {% include 'partials/_hs_checkers.html' %}
  </div>

{% else %}
  {% if theorist %}
    {% if theorist == request.theorist %}
      {% translate 'You can add your first drafts by clicking "Add new draft" button' as msg %}
    {% else %}
      {% translate 'This theorist has no any draft' as msg %}
    {% endif %}
    {% include 'alerts/empty_alert.html' with msg=msg %}
  {% else %}
    {% include 'alerts/not_found_alert.html' %}
  {% endif %}
{% endif %}
