{% load i18n static %}
{% load render_table from django_tables2 %}

{% if drafts %}
  <div id="gallery" hx-get="{{ request.get_full_path }}" hx-trigger="draftDeleted from:body">
    {% render_table table %}
  </div>
{% else %}
  {% if theorist %}
    {% if theorist == request.theorist %}
      {% translate 'You can add your first drafts by clicking "Add new draft" button' as msg %}
    {% else %}
      {% translate 'This theorist has no any draft' as msg %}
    {% endif %}
    {% include 'alerts/empty_alert.html' with msg=msg %}
  {% else %}
    {% include 'alerts/not_found_alert.html' %}
  {% endif %}
{% endif %}

<script type="text/hyperscript">
  on change from .checker
  if (document.querySelectorAll(".checker:checked").length <= 0 or document.querySelectorAll(".checker:checked").length > 10)
    add .disabled to #share-btn
  else
    remove .disabled from #share-btn
</script>

<script type="text/hyperscript">
  on click from .general-checker
  if (document.querySelectorAll(".checker:checked").length <= 0 or document.querySelectorAll(".checker:checked").length > 10)
    add .disabled to #share-btn
  else
    remove .disabled from #share-btn
</script>
