{% load widened_widget_tweaks widget_tweaks %}
{% load static i18n allauth account socialaccount %}

<div class="position-relative mb-5" style="width: 100%">
  <div class="progress" style="height: 1px">
    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0"
      aria-valuemax="100"></div>
  </div>
  <button type="button"
    class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-secondary rounded-pill"
    style="width: 3rem; height: 3rem">
    1
  </button>
  <button type="button"
    class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-primary rounded-pill"
    style="width: 3rem; height: 3rem">
    2
  </button>
</div>

<h2 class="fw-bold mb-5"><i class="ti ti-home-question"></i> {% translate 'Your profile data' %}</h2>
<form hx-post="{% url 'theorist_onboarding:hx-onboard-view' request.theorist.uuid %}">

  <div class="form-outline mb-4">
    {% render_field form.country|add_bootstrap_validation_classes class="selectpicker form-control" data-style="btn-default" data-live-search="true" %}
    {% render_field_errors form.country small=True %}
  </div>

  <div class="form-outline mb-4">
    {% render_field form.social_media_url|add_bootstrap_validation_classes class="form-control" %}
    {% render_field_errors form.social_media_url small=True %}
  </div>

  <div class="form-outline mb-4">
    {% render_field form.website_url|add_bootstrap_validation_classes class="form-control" %}
    {% render_field_errors form.website_url small=True %}
  </div>

  <!-- Checkbox -->
  <div class="form-check d-flex justify-content-center mb-4">
    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked/>
    <label class="form-check-label" for="form2Example33">
      Subscribe to our newsletter
    </label>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">
    {% translate 'Finish registration' %}
  </button>

</form>

<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker();
    });

</script>