{% load widened_widget_tweaks widget_tweaks %}
{% load static i18n allauth account socialaccount %}

<form hx-post="{{ request.path }}" {% render_form_spinner_attrs %}>
  <div class="form-group mb-2">
    {% render_field form.login|add_bootstrap_validation_classes class="form-control" %}
    {% render_field_errors form.login small=True %}
  </div>

  <div class="form-group mb-2">
    {% render_field form.password|add_bootstrap_validation_classes class="form-control" %}
    {% render_field_errors form.password small=True %}
  </div>

  {% include 'common/captcha.html' %}

  {% render_nonfield_errors small=True %}

  <div class="row mb-4">
    <div class="col-md-6 d-flex justify-content-center">
      <div class="form-check mb-3 mb-md-0">
        {% render_field form.remember class="form-check-input" %}
        <label class="form-check-label" for="{{ form.remember.id_for_label }}">{% translate 'Remember me?' %}</label>
      </div>
    </div>

    <div class="col-md-6 d-flex justify-content-center">
      <a href="{% url 'users:reset-password-view' %}">{% translate 'Forgot password?' %}</a>
    </div>
  </div>

  <div class="text-center">
    {% translate 'Log in' as btn_label %}
    {% render_submit_button btn_label class="btn btn-primary btn-block mb-4" with_icon="ti ti-login-2" %}
  </div>
</form>

<div class="divider d-flex align-items-center my-2">
  <p class="text-center mx-2 mb-0">{% translate 'Or' %}</p>
</div>

<div class="text-center mb-1 mt-3">
  <form method="post" action="{% provider_login_url 'google' %}">
    {% csrf_token %}
    <button class="btn btn-danger btn-block"
            style="background-color: #DB4437"
            type="submit">
      <i class="ti ti-brand-google me-2"></i>{% translate 'Continue with Google' %}
    </button>
  </form>
</div>

<script src="{% static 'js/refresh_captcha.js' %}"></script>