{% load widened_widget_tweaks widget_tweaks %}
{% load static i18n allauth account socialaccount %}

<style>
    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
    }

    .h-custom {
        height: calc(100% - 73px);
    }

    @media (max-width: 450px) {
        .h-custom {
            height: 100%;
        }
    }
</style>

<form hx-post="{{ request.path }}" class="needs-validation">
  <div data-mdb-input-init class="form-outline mb-4">
    {% render_field form.login|add_bootstrap_validation_classes class="form-control" %}
    {% render_field_errors form.login class_="invalid-feedback" %}
  </div>

  <div data-mdb-input-init class="form-outline mb-4">
    {% render_field form.password|add_bootstrap_validation_classes class="form-control" %}
    {% render_field_errors form.password class_="invalid-feedback" %}
  </div>

  {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
      <strong>{{ error }}</strong>
    </div>
  {% endfor %}

  <div class="row mb-4">
    <div class="col-md-6 d-flex justify-content-center">
      <div class="form-check mb-3 mb-md-0">
        {% render_field form.remember class="form-check-input" %}
        <label class="form-check-label" for="{{ form.remember.id_for_label }}">{% translate 'Remember me?' %}</label>
      </div>
    </div>

    <div class="col-md-6 d-flex justify-content-center">
      <a href="{% url 'users:reset-password-view' %}">{% translate 'Forgot password?' %}</a>
    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-block mb-4">{% translate 'Log in' %}</button>
</form>

<div class="divider d-flex align-items-center my-4">
  <p class="text-center mx-3 mb-0">{% translate 'Or' %}</p>
</div>

<div class="text-center mb-3">
  <form method="post" action="{% provider_login_url 'google' %}">
    {% csrf_token %}
    <button data-mdb-ripple-init class="btn btn-primary btn-lg btn-block"
            style="background-color: #DB4437"
            type="submit">
      <i class="fab fa-google me-2"></i>{% translate 'Continue with Google' %}
    </button>
  </form>
</div>


<!-- Font Awesome -->
<link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    rel="stylesheet"
/>
<!-- Google Fonts -->
<link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
/>
<!-- MDB -->
<link
    href="https://cdn.jsdelivr.net/npm/mdb-ui-kit@8.2.0/css/mdb.min.css"
    rel="stylesheet"
/>
<!-- MDB -->
<script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/mdb-ui-kit@8.2.0/js/mdb.umd.min.js"
></script>
