{% extends 'base_auth_site.html' %}
{% load widened_widget_tweaks widget_tweaks %}
{% load static i18n allauth account socialaccount %}

{% block additional %}
  <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="tab-login"
         href="{% url 'users:base-auth' %}"
         role="tab"
      >Login</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="tab-register"
         href="{% url 'users:base-auth' %}?signup=true"
         role="tab"
      >Register</a>
    </li>
  </ul>
  <form hx-post="{{ request.path }}"
        id="reset-form"
        hx-target="#reset-form"
        hx-select="#reset-form"
        {% render_form_spinner_attrs %}
  >
    <div class="form-group mb-3">
      <small>
        {% with user_to_reset.theorist.full_name as full_name %}
          {% blocktranslate trimmed %}
            Hi, {{ full_name }} 👋. You can reset your password by filling the form below.
          {% endblocktranslate %}
        {% endwith %}
      </small>
    </div>
    <div class="form-group mb-2">
      <div class="form-outline mb-2">
        {% render_field form.password1|add_bootstrap_validation_classes class="form-control" %}
        {% render_field_errors form.password1 small=True %}
      </div>
      <small class="form-text text-muted">{{ form.password1.help_text }}</small>
    </div>

    <div class="form-outline mb-4">
      {% render_field form.password2|add_bootstrap_validation_classes class="form-control" %}
      {% render_field_errors form.password2 small=True %}
    </div>

    {% render_nonfield_errors small=True %}

    <div class="text-center">
      {% translate 'Reset password' as btn_label %}
      {% render_submit_button btn_label class="btn btn-primary btn-block mb-4" %}
    </div>
  </form>
{% endblock additional %}
