{% extends 'base_auth_site.html' %}
{% load widened_widget_tweaks widget_tweaks %}
{% load static i18n allauth account socialaccount %}

{% block additional %}
  <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="tab-login"
         href="{% url 'users:base-auth' %}"
         role="tab"
      >Login</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="tab-register"
         href="{% url 'users:base-auth' %}?signup=true"
         role="tab"
      >Register</a>
    </li>
  </ul>
  <form hx-post="{{ request.path }}"
        _="on submit toggle @hidden on #wait-spinner until htmx:afterOnLoad"
        hx-indicator="#filter-block-wait-spinner"
  >
    <p class="form-text text-muted">
      Забули пароль? Введіть свою адресу електронної пошти нижче, і ми надішлемо вам листа з інструкціями для його відновлення.
    </p>

    <div class="form-outline mb-4">
      {% render_field form.email|add_bootstrap_validation_classes class="form-control" %}
      {% render_field_errors form.email %}
    </div>

    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error }}</strong>
      </div>
    {% endfor %}

    <div class="text-center">
      <button type="submit" class="btn btn-primary btn-block mb-4">
        <div id="wait-spinner" class="spinner-grow text-light spinner-grow-sm" role="status" hidden></div>
        {% translate 'Reset password' %}
      </button>
    </div>
  </form>
{% endblock additional %}
