{% load widened_widget_tweaks widget_tweaks %}
{% load static i18n allauth account socialaccount %}

<form hx-post="{% url 'users:register-view' %}">
  <div class="form-group mb-2">
    {% render_field form.email|add_bootstrap_validation_classes class="form-control" %}
    {% render_field_errors form.email class_="invalid-feedback" small=True %}
  </div>

  <div class="form-group mb-2">
    {% render_field form.username|add_bootstrap_validation_classes class="form-control" %}
    {% render_field_errors form.username class_="invalid-feedback" small=True %}
  </div>

  <div class="form-group mb-2">
    <div data-mdb-input-init class="form-outline mb-2">
      {% render_field form.password1|add_bootstrap_validation_classes class="form-control" %}
    </div>
    <small class="form-text text-muted">{{ form.password1.help_text }}</small>
  </div>


  <div class="form-group mb-2">
    {% render_field form.password2|add_bootstrap_validation_classes class="form-control" %}
  </div>

  {% if form.errors %}
    <ul class="alert alert-danger p-4">
      {% for field in form %}
        {% for error in field.errors %}
          <li>{{ error|escape }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
  {% endif %}

  <div class="text-center mt-4">
    <button type="submit" class="btn btn-primary btn-block mb-3">
      {% translate 'Sign in' %}
    </button>
  </div>
</form>

<div class="divider d-flex align-items-center my-2">
  <p class="text-center mx-2 mb-0">{% translate 'Or' %}</p>
</div>

<div class="text-center mb-1 mt-3">
  <form method="post" action="{% provider_login_url 'google' %}">
    {% csrf_token %}
    <button class="btn btn-danger btn-block"
       style="background-color: #DB4437"
       type="submit">
      <i class="fab fa-google me-2"></i>{% translate 'Continue with Google' %}
    </button>
  </form>
</div>