.input-form {
    width: 600px;
    border: 1px solid;
    padding: 30px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

#tofind {
    margin-top: 20px;
    margin-bottom: 20px;
}

.indications {
    margin-top: 20px;
    margin-bottom: 20px;
}