{% extends 'base/forum_base.html' %}

{% block head %}
  {% load static %}
  <title xmlns="http://www.w3.org/1999/html">MathLab | Мій профіль</title>
{% endblock %}

{% block body %}
  <body>
  <div class="block-body">
    <h1 style="text-align: center;" class="display-5">Мій профіль</h1>
  </div>
  <section style="background-color: #eee;">
    <div class="container py-5">
      <div style="display: flex; flex-wrap: wrap; flex-direction: column; align-items: center;" class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if request.user.id == user_content.id %}<label style="cursor: pointer;" for="image">{% endif %}
                {% if profile_image %}
                  <img src="{% static profile_image %}" alt="avatar" class="rounded-circle img-fluid"
                       style="width: 150px; height: 150px;">
                {% else %}
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                       class="rounded-circle img-fluid" style="width: 150px; height: 150px;">
                {% endif %}
                </label>
                {% if request.user.id == user_content.id %}
                  <p>
                    <input type="file" id="image" name="image" style="display: none;">
                    <button class="btn btn-primary" type="submit">Змінити фото</button>
                  </p>
                {% endif %}
              </form>
              <h5 class="my-3">{{ user_content.username }}</h5>
              <div style="margin-bottom: 1rem !important;">
                <p class="text-muted mb-1"><b>{{ user_content.rank }}</b></p>
              </div>
              {% if user.is_authenticated and user_content.id != user.id %}
                <div class="d-flex justify-content-center mb-2">
                  <a href="{% url 'ws-chat' receiver=user_content.id username=user_content.username %}" type="button"
                     data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary ms-1">Написати
                    повідомлення</a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body" style="text-align: center;">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Нікнейм</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ user_content.username }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Пошта</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ user_content.email }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Бали</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ user_content.score }}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Звання</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ user_content.rank }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-body">
              <p class="mb-4" style="text-align: center;"><b>Останні дії</b></p>
              {% load pagination urls %}
              <div style="text-align: center;">
                {% for action in all_actions %}
                  {% if action.comm_id is none %}
                    Створив Пост:
                    <a class="mt-4 mb-1" href="{% url 'forum:q' q_id=action.id title=action.title|hyphens_add %}"
                       style="font-size: 19px;">{{ action.title }}</a>
                  {% else %}
                    Написав коментарій:
                    <a class="mt-4 mb-1"
                       href="{% url 'forum:q' q_id=action.post.id title=action.post.title|hyphens_add %}"
                       style="font-size: 19px;">{{ action.title }}</a>
                    <p>До поста <a
                        href="{% url 'forum:q' q_id=action.post.id title=action.post.title|hyphens_add %}">{{ action.post.title }}</a>
                    </p>
                  {% endif %}
                  об {{ action.created_at }}
                  <p>
                    {% for category in action.categories %}
                      <a>{{ category.category_name }}</a>
                    {% endfor %}
                  </p>
                  {% if not action.comm_id %}
                    {% if user.id == user_content.id %}
                      <form style="margin-top:10px;" method="post" action="{% url 'forum:base' %}">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{ action.id }}">
                        <button type="submit" class="btn btn-danger btn-sm">Видалити пост</button>
                      </form>
                    {% endif %}
                    <div style="border-top: 1px solid #858383;width: 820px;margin: auto;margin-top: 10px;"></div>
                    <div class="progress-bar" role="progressbar" style="width: 72%; margin-bottom: 15px;"
                         aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                  {% else %}
                    {% if user.id == user_content.id %}
                      <form style="margin-top:10px;" method="post"
                            action="{% url 'forum:q-comm-delete' q_id=action.id title=action.title|hyphens_add comment_id=action.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Видалити коментар</button>
                      </form>
                    {% endif %}
                    <div style="border-top: 1px solid #858383;width: 820px;margin: auto;margin-top: 10px;"></div>
                    <div class="progress-bar" role="progressbar" style="width: 72%; margin-bottom: 15px;"
                         aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </body>
{% endblock %}

