{% load static i18n %}

<div class="row">
  <div class="col-sm-5">
    <i class="ti ti-brand-linktree"></i>
    <span class="mb-0">{% translate 'Social media url' %}</span>
  </div>
  <div class="col-sm-7">
    {% if theorist.social_media_url %}
      <a href="{{ theorist.social_media_url }}" target="_blank" class="mb-0">{{ theorist.social_media_url }}</a>
    {% else %}
      <span class="mb-0">─</span>
    {% endif %}
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-5">
    <i class="ti ti-app-window"></i>
    <span class="mb-0">{% translate 'Website URL' %}</span>
  </div>
  <div class="col-sm-7">
    {% if theorist.website_url %}
      <a href="{{ theorist.website_url }}" target="_blank" class="mb-0">{{ theorist.website_url }}</a>
    {% else %}
      <span class="mb-0">─</span>
    {% endif %}
  </div>
</div>