{% load static i18n %}

<div class="row">
  <div class="col-sm-3">
    <i class="ti ti-brand-linktree"></i>
    <span class="mb-0">{% translate 'Social media url' %}</span>
  </div>
  <div class="col-sm-9">
    <p class="text-muted mb-0">{{ theorist.social_media_url|default:'─' }}</p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-3">
    <i class="ti ti-app-window"></i>
    <span class="mb-0">{% translate 'Website URL' %}</span>
  </div>
  <div class="col-sm-9">
    <p class="text-muted mb-0">{{ theorist.website_url|default:'─' }}</p>
  </div>
</div>