{% extends 'base/forum_base.html' %}
{% load i18n static widget_tweaks %}

{% block page_head %}
  <script src="{% static 'tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'django_tinymce/init_tinymce.js' %}"></script>
  <title>{{ post.categories.first.get_name_display }} - {{ post.title }}</title>
{% endblock page_head %}

{% block body %}
  <div class="container mt-2">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="p-4">
          <h4 id="post-title-body"
              hx-get="{% url 'forum:hx-post-title-update' post.uuid %}" 
              hx-trigger="click from:#post-edit-btn"
              hx-swap="outerHTML"
              class="mb-2">
                {{ post.title }}
          </h4>
          <ul class="list-inline text-muted small d-flex justify-content-between align-items-center">
            <li class="list-inline-item small">
              <b>{% translate 'Author' %}:</b>
              <a href="{{ post.theorist.get_absolute_url }}" class="text-decoration-none">
                {{ post.theorist.full_name }}</a>
              | <b>{{ post.theorist.get_rank_display }}</b>
            </li>
            <li class="list-inline-item small">
              <b>{% translate 'Created at' %}:</b> {{ post.created_at|timesince }} тому
            </li>
            <li class="list-inline-item small">
              <b>{% translate 'Modified' %}:</b> {{ post.modified_at|timesince }} тому
            </li>
            <li class="list-inline-item small">
              <b>{% translate 'Viewers' %}:</b> {{ post.hit_count.hits }} разів
            </li>
            <li class="list-inline-item small">
              <button class="btn btn-secondary btn-sm mb-1 me-1 btn-to-copy"
                      data-clipboard-text="{% absolute_url 'forum:post-details' post.pk post.slug %}"
                      type="button"
              >
                <i class="ti ti-link"></i>
              </button>
              {% if post.theorist.uuid == request.theorist.uuid %}
                <button class="btn btn-warning btn-sm mb-1 me-1"
                        id="post-edit-btn"
                        type="button"
                >
                  <i class="ti ti-edit"></i>
                </button>
                <button class="btn btn-danger btn-sm mb-1 me-1"
                        type="button"
                        hx-delete="{% url 'forum:post-delete' post.uuid %}"
                        hx-vals='{"location": "detail"}'
                        hx-confirm="{% translate 'Are you sure?' %}"
                >
                  <i class="ti ti-trash"></i>
                </button>
              {% endif %}
            </li>
          </ul>
          <hr>
          <div class="d-flex flex-row-reverse justify-content-end">
            <div class="d-flex flex-column">
              <div id="post-text-body" 
                   hx-get="{% url 'forum:hx-post-content-update' post.uuid %}"
                   hx-trigger="click from:#post-edit-btn"
                   class="text-break p-1">
                {{ post.content|safe }}
              </div>
              <div class="mt-3">
                {% for category in post.categories.all %}
                  <a hx-get="{% url 'forum:post-list' %}?categories={{ category.pk }}"
                     hx-trigger="click"
                     href="javascript:(0);"
                     class="badge rounded-pill text-bg-secondary text-decoration-none">
                    {{ category.get_name_display }}
                  </a>
                {% endfor %}
              </div>
            </div>
            <div class="flex-column me-4">
              {% block post_likes_and_dislikes %}
                <div hx-get="{% url 'forum:hx-post-rate' post.uuid %}"
                     hx-trigger="postLikesAndDislikesChanged from:body"
                     hx-target="this">
                  <a type="button"
                     class="{% if not post.is_already_liked %}text-secondary{% endif %} text-decoration-none d-flex flex-column align-items-center"
                     hx-swap="none"
                     hx-post="{% url 'forum:hx-post-rate' post.uuid %}?like=true">
                    <i style="font-size: 35px" class="ti ti-thumb-up"></i>
                    {{ post.custom_likes_counter }}
                  </a>
                  <a type="button"
                     class="{% if not post.is_already_disliked %}text-secondary{% endif %} text-decoration-none d-flex flex-column align-items-center"
                     hx-swap="none"
                     hx-post="{% url 'forum:hx-post-rate' post.uuid %}">
                    <i style="font-size: 35px" class="ti ti-thumb-down"></i>
                    {{ post.custom_dislikes_counter }}
                  </a>
                </div>
              {% endblock post_likes_and_dislikes %}
            </div>
          </div>
        </div>

        <div class="mt-5 p-3 text-center">
          <div hx-get="{% url 'forum:comments-count' post.uuid %}"
               hx-trigger="commentBlockChanged from:body"
               hx-target="this">
            {% with comment_quantity=post.comments_quantity %}
              {% block comment_quantity %}
                <span class="mt-4">
                  {% translate 'Answers' %}: {{ comment_quantity }}
              </span>
              {% endblock %}
            {% endwith %}
          </div>
          <div class="dropdown mb-3">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown">
              {% translate 'Sort by' %}
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" hx-get="{% url 'forum:comments-block' post.uuid %}?order_by=best"
                     hx-target="#comment-list-js">{% translate 'Best' %}</a></li>
              <li><a class="dropdown-item" href="#" hx-get="{% url 'forum:comments-block' post.uuid %}?order_by=newest"
                     hx-target="#comment-list-js">{% translate 'Newest' %}</a></li>
            </ul>
          </div>
          <div id="comment-list-js" class="mt-5" hx-get="{% url 'forum:comments-block' post.uuid %}"
               hx-vals='{"comment": "{{ request.GET.comment|default:'' }}", "comment_page": "{{ request.GET.comment_page|default:'' }}"}'
               hx-trigger="load">
            <div id="comment-block-wait-spinner" class="spinner-border text-primary" role="status"></div>
          </div>
        </div>

        {% if user.is_authenticated %}
          <div class="text-center">
            <hr/>
            <h2 class="h5 mb-4">{% translate 'Your answer' %}</h2>
            <div id="comment-block-js" hx-get="{% url 'forum:comment-create' post.uuid %}"
                 hx-target="this" hx-trigger="load delay:0.5s">
              <div id="comment-wait-spinner" class="spinner-border text-primary" role="status"></div>
            </div>
          </div>
        {% else %}
          <div class="mt-5 text-center">
            <h2 class="h6"><a href="{% url 'users:base-auth' %}?signup=true" class="text-decoration-none">Authorize</a>,
              to ask your questions.</h2>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

<script src="{% static 'js/actions/init_clipboard.js' %}"></script>
