{% extends 'base/forum_base.html' %}
{% load i18n static widened_widget_tweaks widget_tweaks %}

{% block page_head %}
  <title>MathLab | {% translate 'Profile settings' %}</title>
{% endblock page_head %}

{% block page_css %}
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
{% endblock page_css %}

{% block body %}
  <div class="container fluid">
    <h1 class="h3 mb-3">{% translate 'Settings' %}</h1>
    <div class="row">
      <div class="col-md-5 col-xl-4 mb-4">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title mb-0">{% translate 'Profile settings' %}</h5>
          </div>
          <div class="list-group list-group-flush" role="tablist">
            <a class="list-group-item list-group-item-action active"
               data-bs-toggle="tab"
               href="#account"
               role="tab">
              {% translate 'Account' %}
            </a>
            <a class="list-group-item list-group-item-action"
               id="password-btn"
               data-bs-toggle="tab"
               href="#password"
               role="tab">
              {% translate 'Password' %}
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-7 col-xl-8">
        <div class="tab-content">
          <div class="tab-pane fade show active"
               id="account"
               hx-get="{% url 'forum:theorist_profile:settings:hx-profile-personal-info-form' theorist.uuid %}"
               hx-target="this"
               hx-trigger="load"
               role="tabpanel"
          >
          </div>
          <div class="tab-pane fade show active"
               id="password"
               hx-get="{% url 'forum:theorist_profile:settings:hx-profile-password-form' %}"
               hx-target="this"
               hx-trigger="click once from:#password-btn"
               role="tabpanel"
          >
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
