{% load i18n %}

{% if carousels %}
  <div id="myCarousel" class="carousel slide mb-4" data-bs-ride="carousel">
    <div class="carousel-indicators">
      {% for carousel in carousels %}
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{ forloop.counter0 }}"
                class="{% if forloop.first %}active{% endif %}" aria-label="Slide {{ forloop.counter }}"></button>
      {% endfor %}
    </div>
    <div class="carousel-inner rounded">
      {% for carousel in carousels %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}"
             style="background: linear-gradient(to right, {{ carousel.background_colors.0 }}, {{ carousel.background_colors.1 }});">
          <div class="container">
            <div class="carousel-caption d-flex align-items-center justify-content-center flex-column text-center" style="position: sticky">
              <h1>{{ carousel.title|safe }}</h1>
              <p class="opacity-75" style="font-size: 20px;">
                {{ carousel.content|safe }}
              </p>
              {% if carousel.button_url %}
                <p><a class="btn btn-lg btn-primary" target="_blank"
                      href="{{ carousel.button_url }}">{{ carousel.button_text }}</a></p>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endif %}

<style>
  .carousel-item {
    min-height: 40vh;
  }
</style>