{% extends 'base/mathlab_base.html' %}
{% load i18n static avatars %}

{% block page_head %}
  <title>MathLab | {% translate 'Drafts' %}</title>
{% endblock page_head %}

{% block page_css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photoswipe@5.4.4/dist/photoswipe.min.css">
  <style>
    .img-bg {
      --pswp-bg: #ffffff;
    }
  </style>
{% endblock page_css %}

{% block body %}
  <div>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light"><i class="ti ti-notes"></i>{% translate 'Drafts' %}</h1>
          <p class="lead text-body-secondary">
            {% blocktranslate trimmed %}
              Here you can make and manage your math drafts for future use.
            {% endblocktranslate %}
          </p>
          {% if request.user.is_authenticated %}
            <i class="ti ti-columns me-1"
               data-bs-toggle="tooltip" data-bs-placement="top"
               title="{% translate 'Album view' %}"
               style="font-size: 20px"></i>
            <i class="ti ti-table ms-1"
               data-bs-toggle="tooltip" data-bs-placement="top"
               title="{% translate 'Table view' %}"
               style="font-size: 20px"></i>
            <div class="form-check form-switch d-flex justify-content-center">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                     {% if request.GET.view == 'table' %}checked{% endif %}>
            </div>
          {% endif %}

          <div class="d-flex align-items-center mt-5">
            <label for="id_search_draft" class="text-nowrap me-2">
              <i data-bs-toggle="tooltip"
                 title="{% translate "UUID is unique identifier, which you can share with anybody to show your drafts" %}"
                 class="ti ti-help-octagon-filled text-primary"></i>
              {% translate "Draft's UUID" %}
            </label>
            <div class="input-group me-2">
              <input id="id_search_draft"
                     name="search_draft"
                     class="form-control"
                     value="{{ request.GET.search_draft }}"
                     placeholder="{% translate 'Paste UUID here' %}">
              <a class="btn btn-outline-danger"
                 data-bs-toggle="tooltip"
                 title="{% translate 'Fully drop search' %}"
                 href="{{ request.get }}?view={{ request.GET.view|default:'album' }}"
                 type="button">
                <i class="ti ti-xbox-x"></i>
              </a>
            </div>
            {% if request.user.is_authenticated %}
              <button type="button"
                      id="search-btn"
                      onclick="Search()"
                      hx-get="{% url 'mathlab:drafts:drafts-search' %}?view={{ request.GET.view }}"
                      hx-include="[name='search_draft']"
                      hx-target="#block-drafts-js"
                      class="btn btn-outline-secondary">{% translate 'Search' %}</button>
            {% else %}
              <a href="{% url 'users:base-auth' %}?signup=true"
                 class="btn btn-outline-secondary">{% translate 'Search' %}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
      <div class="container">
        {% if request.user.is_authenticated %}
          <div class="text-end mb-3 d-flex justify-content-between">
            <button id="share-btn" class="btn btn-primary btn-lg disabled me-2"
                    hx-get="{% url 'forum:theorist_chat:share-drafts-via-chat' configuration.uuid %}"
                    hx-target="#drafts-sharing-modal"
                    hx-trigger="click"
                    data-bs-toggle="modal"
                    data-bs-target="#drafts-sharing-modal"
            >
              <i class="ti ti-send"></i>
              {% translate 'Send' %}
            </button>
            <div class="btn-group" role="group">
              <button type="button"
                      hx-get="{% url 'mathlab:drafts:drafts-create' %}?view={{ request.GET.view }}"
                      hx-target="#drafts-create-modal"
                      hx-trigger="click"
                      class="btn btn-primary btn-lg"
                      data-bs-toggle="modal"
                      data-bs-target="#drafts-create-modal">
                <i class="ti ti-plus"></i>
                {% translate 'Add new draft' %}
              </button>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary btn-lg dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <button type="button" class="dropdown-item btn-to-copy"
                            data-clipboard-text="{{ configuration.uuid }}"
                    ><i class="ti ti-link"></i> {% translate 'Copy my draft UUID' %}</button>
                  </li>
                  <li class="mt-2">
                    <button type="button"
                            class="dropdown-item"
                            id="pre-share-btn"
                            _="on click remove .d-none from .checks
                               then remove .d-none from .general-form-album-checker
                               then set .general-checker.checked to true
                               then set .checker.checked to true then remove .disabled from #share-btn"
                    ><i class="ti ti-share"></i> {% translate 'Share my drafts with other theorists' %}</button>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li class="mt-2">
                    <button type="button"
                            class="dropdown-item"
                            hx-get="{% url 'mathlab:drafts:drafts-upload' %}?view={{ request.GET.view }}"
                            hx-target="#drafts-management-modal"
                            hx-trigger="click"
                            data-bs-toggle="modal"
                            data-bs-target="#drafts-management-modal"
                    >
                      <i class="ti ti-upload"></i> {% translate 'Upload my own draft' %}
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div id="block-drafts-js">
            {% with view=request.GET.view %}
              {% block drafts %}
                {% if configuration %}
                  {% if theorist %}
                    <div class="d-flex flex-row-reverse justify-content-between align-items-center">
                      <div class="text-end mt-3 mb-3">
                        <small class="text-muted me-1">{% translate 'Author of drafts' %}:</small>
                        <small>
                          <a href="{{ theorist.get_absolute_url }}" class="text-decoration-none" target="_blank">
                            {% get_instance_avatar theorist size=30 %}
                            {{ theorist.full_name }}
                          </a>
                        </small>
                      </div>
                      <div class="d-none text-danger checks">
                        <button type="button"
                                class="btn btn-outline-danger btn-sm"
                                _="on click toggle .d-none on .checks
                                   then add .disabled to #share-btn
                                   then add .d-none to .general-form-album-checker
                                   then set .general-checker.checked to false
                                   then set .table-checker.checked to false">
                          <i class="ti ti-x"></i> {% translate 'Cancel sharing' %}
                        </button>
                      </div>
                    </div>
                  {% endif %}
                  <div {% if view == 'table' %}
                         class="row row-cols-1"
                         hx-get="{% url 'mathlab:drafts:drafts-table-list' configuration.uuid %}?view=table&search_draft={{ request.GET.search_draft }}"
                       {% else %}
                         hx-get="{% url 'mathlab:drafts:drafts-album-list' configuration.uuid %}?view=album&search_draft={{ request.GET.search_draft }}"
                       {% endif %}
                       hx-trigger="load, click from:#search-btn"
                       hx-target="this"
                  >
                    <div class="text-center d-flex align-items-center flex-column">
                      <div id="wait-spinner" style="width: 2rem; height: 2rem;" class="spinner-grow text-primary mt-2"
                           role="status"></div>
                      <small class="text-muted" style="font-size: 13px">{% translate 'Loading...' %}</small>
                    </div>
                  </div>
                {% else %}
                  {% translate 'Please check UUID that you pasted and try again!' as msg %}
                  {% include 'alerts/not_found_alert.html' with msg=msg %}
                {% endif %}
              {% endblock drafts %}
            {% endwith %}
          </div>
        {% else %}
          {% include 'alerts/not_auth_register_alert.html' %}
        {% endif %}
      </div>
    </div>
  </div>

  <div class="modal fade"
       id="drafts-sharing-modal"
       tabindex="-1"
       aria-hidden="true"
       hx-target="this"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document"></div>
  </div>

  <div class="modal fade"
       id="drafts-management-modal"
       tabindex="-1"
       aria-hidden="true"
       hx-target="this"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document"></div>
  </div>

  <div class="modal fade"
       id="drafts-create-modal"
       tabindex="-1"
       aria-hidden="true"
       hx-target="this"
  >
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document"></div>
  </div>
{% endblock body %}

{% block page_js %}
  <script src="{% static 'js/actions/init_clipboard.js' %}"></script>
  <script type="module">
    import PhotoSwipeLightbox from '{% static 'js/photoswipe/photoswipe-lightbox.esm.js' %}';

    document.body.addEventListener("htmx:afterSettle", function () {
      const lightbox = new PhotoSwipeLightbox({
        gallery: '#gallery',
        mainClass: 'img-bg',
        children: 'a',
        wheelToZoom: true,
        pswpModule: () => import('{% static 'js/photoswipe/photoswipe.esm.js' %}'),
      });
      lightbox.init();
    });
  </script>
  <script>
    if (document.getElementById("flexSwitchCheckChecked")) {
      document.getElementById("flexSwitchCheckChecked").addEventListener("change", function () {
        const url = new URL(window.location);

        if (this.checked) {
          url.searchParams.set("view", "table");
        } else {
          url.searchParams.delete("view");
        }

        window.location = url;
      });
    }

    function Search() {
      const url = new URL(window.location);
      let input_search_value = document.getElementById('id_search_draft').value;

      url.searchParams.set("search_draft", input_search_value); // replaces if exists, adds if not

      window.history.pushState({}, '', url);
    }


  </script>
{% endblock page_js %}
