{% load i18n static widget_tweaks widened_widget_tweaks %}

{{ form.media }}

<form hx-post="{% url 'forum:comment-create' post.uuid %}"
      id="comment-block-create"
      class="text-center"
      hx-swap="none"
      {% render_form_spinner_attrs target_spinner_id="comment-wait-spinner" %}
      hx-on::after-request="this.reset()">
  {{ form.comment }}
  {% translate 'Add comment' as btn_label %}
  {% render_submit_button btn_label spinner_id="comment-wait-spinner" class="btn btn-primary mt-3" with_icon="ti ti-message-up" %}
</form>
