{% load i18n static widget_tweaks urls %}

<hr class="mb-5 text-secondary">
<div id="comment-list-body-js"
     hx-get="{{ request.get_full_path }}"
     hx-trigger="commentBlockChanged from:body delay:0.6s"
>
  {% for comment in comments %}
    <div class="container full-answer-{{ comment.uuid }} mb-5 {% classes_by_lookup_url comment 'comment' %}">
      <div class="row">
        <div class="d-flex flex-column flex-md-row list-inline text-muted small text-start justify-content-between">
          <div>
            <div class="list-inline-item small"><b>{% translate 'Author' %}:</b>
              <a class="text-decoration-none ms-1 mb-1"
                 target="_blank"
                 href="{{ comment.theorist.get_absolute_url }}">{% get_instance_avatar comment.theorist size=25 is_square=True %} {{ comment.theorist_full_name }} </a> {% if comment.theorist %}|{% endif %}
              <b>{{ comment.theorist.get_rank_display }}</b></div>
            <div class="list-inline-item small"
                 class="span-base">
              <b>{% translate 'Created at' %}</b> {{ comment.created_at|timesince }} {% translate 'ago' %}</div>
            {% if comment.modified_at is not none %}
              <div class="list-inline-item small"
                   class="span-base">
                <b>{% translate 'Modified at' %}</b> {{ comment.modified_at|timesince }} {% translate 'ago' %}</div>
            {% endif %}
          </div>
          <div class="small d-flex align-items-center">
            <div class="dropdown">
              <i data-bs-toggle="dropdown" aria-expanded="false" class="ti ti-dots-vertical"
                 style="cursor: pointer; font-size: 23px;"></i>
              <ul class="dropdown-menu">
                {% if comment.theorist.uuid == request.theorist.uuid %}
                  <li>
                    <button class="dropdown-item"
                            type="button"
                            hx-get="{% url 'forum:comment-update' comment.uuid %}"
                            hx-target="#comment-text-body-{{ comment.uuid }}">
                      <i class="ti ti-edit"></i> {% translate 'Edit comment' %}
                    </button>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                {% endif %}
                <li>
                  <button class="dropdown-item btn-to-copy"
                          type="button"
                          data-clipboard-text="{% absolute_url 'forum:post-details' post.pk post.slug %}?page={{ page_obj.number }}&comment={{ comment.uuid }}">
                    <i class="ti ti-link"></i> {% translate 'Copy comment link' %}
                  </button>
                </li>
                {% if request.user.is_authenticated %}
                  <li>
                    <button class="dropdown-item"
                            type="button"
                            hx-get="{% url 'forum:theorist_chat:share-comments-via-chat' comment.uuid %}?page={{ page_obj.number }}"
                            hx-target="#sharing-modal"
                            hx-trigger="click"
                            data-bs-toggle="modal"
                            data-bs-target="#sharing-modal">
                      <i class="ti ti-share"></i> {% translate 'Share this comment with other theorist' %}
                    </button>
                  </li>
                {% endif %}
                {% if comment.theorist.uuid == request.theorist.uuid %}
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li>
                    <span class="dropdown-item"
                          style="cursor: pointer"
                          hx-delete="{% url 'forum:comment-delete' comment.uuid post.uuid %}"
                          hx-confirm="{% translate 'Are you sure?' %}"
                          hx-swap="outerHTML swap:0.5s"
                          hx-target=".full-answer-{{ comment.uuid }}">
                      <i class="text-danger ti ti-trash"></i> {% translate 'Delete comment' %}
                    </span>
                  </li>
                {% endif %}
              </ul>
            </div>

            {% if request.user.is_authenticated and comment.theorist.uuid != request.theorist.uuid %}
              {% if not request.user.is_email_verified %}
                <a class="btn btn-sm btn-secondary text-nowrap" disabled
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   title="{% translate 'Sorry! You have to verify your email to interact.' %}">
                  {% translate 'Thank you!' %}
                </a>
              {% elif comment in request.theorist.supported_comments.all %}
                <a class="btn btn-sm btn-outline-primary text-nowrap" disabled
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   title="{% translate 'You have already supported this comment.' %}">
                  {% translate 'Thank you!' %}
                </a>
              {% else %}
                <button class="btn btn-sm btn-primary text-nowrap"
                        hx-post="{% url 'forum:comments-support-update' comment.uuid %}"
                        hx-swap="none"
                        hx-confirm="{% translate 'Do you want to support this answer? You will raise score for this user by doing that.' %}">
                  {% translate 'Thank you!' %}
                </button>
              {% endif %}
            {% endif %}
          </div>
        </div>
        <div class="d-flex flex-row-reverse justify-content-end">
          <div class="d-flex flex-column">
            <div id="comment-text-body-{{ comment.uuid }}" class="text-break p-1 mt-1">{{ comment.comment|safe }}</div>
          </div>
          <div class="flex-column me-4 mt-2">
            {% block comment_likes_and_dislikes %}
              <div hx-get="{% url 'forum:hx-comment-rate' comment.uuid %}"
                   hx-trigger="commentLikesAndDislikesChanged{{ comment.uuid }} from:body"
                   hx-target="this"
              >
                <a type="button"
                   class="{% if not comment.is_comment_already_liked %}text-secondary{% endif %} text-decoration-none d-flex flex-column align-items-center"
                   data-toast-trigger
                   hx-swap="none"
                   hx-post="{% url 'forum:hx-comment-rate' comment.uuid %}?like=true">
                  <i style="font-size: 35px" class="ti ti-thumb-up"></i>
                  {{ comment.custom_likes_counter }}
                </a>
                <a type="button"
                   class="{% if not comment.is_comment_already_disliked %}text-secondary{% endif %} text-decoration-none d-flex flex-column align-items-center"
                   data-toast-trigger
                   hx-swap="none"
                   hx-post="{% url 'forum:hx-comment-rate' comment.uuid %}">
                  <i style="font-size: 35px" class="ti ti-thumb-down"></i>
                  {{ comment.custom_dislikes_counter }}
                </a>
              </div>
            {% endblock comment_likes_and_dislikes %}
          </div>
        </div>
        <div hx-get="{% url 'forum:hx-comment-answers' comment.uuid %}"
             hx-trigger="load"
             hx-target="this">
        </div>
      </div>
    </div>
  {% endfor %}
  {% include 'common/pagination.html' with htmx_target="#comment-list-body-js" %}
</div>

{% include 'common/scroll_to_url_instance.html' with param='comment' target_class_suffix='full-answer-' %}

<script src="{% static 'js/actions/init_clipboard.js' %}"></script>
