{% load i18n static widget_tweaks widened_widget_tweaks %}

{{ form.media }}

<form hx-post="{{ request.path }}"
      id="comment-block-update"
      class="text-center"
      hx-swap="none"
      {% render_form_spinner_attrs target_spinner_id="comment-wait-spinner" %}
      hx-on::after-request="this.reset()">
  {{ form.predefined_comment }}
  {% translate 'Save comment' as btn_label %}
  {% render_submit_button btn_label class="btn btn-success mt-3" spinner_id="comment-wait-spinner" with_icon="ti ti-device-floppy" %}
</form>
