{% load i18n avatars widget_tweaks %}

<div class="d-sm-flex align-items-center justify-content-between mt-3 mb-4">
  <h3 class="mb-3 mb-sm-0 fw-semibold d-flex align-items-center">
    <i class="ti ti-friends me-1"></i>{% translate 'Friends' %}
    <span class="badge text-bg-primary fs-3 rounded-4 py-1 px-2 ms-2">{{ friends_counter }}</span>
  </h3>
  <form class="position-relative"
        hx-get="{{ request.path }}?is_accepted=true"
        hx-trigger="input changed from:#{{ filter.form.full_name.id_for_label }} delay:0.5s"
        hx-swap="outerHTML"
        hx-target="#accepted-list-js"
        hx-select="#accepted-list-js"
  >
    {% render_field filter.form.full_name class="form-control search-chat py-2 ps-5" %}
    <i class="ti ti-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
  </form>
</div>

<div class="row" id="accepted-list-js">
  {% if friends.exists %}
    {% for friend in friends %}
      <div class="col-sm-6 col-lg-4">
        <div class="card hover-img">
          <div class="card-body p-4 text-center border-bottom">
            {% if friend.requester.uuid == view.kwargs.theorist_uuid %}
              {% get_instance_avatar friend.receiver size=120 as_href=True %}
              <h5 class="fw-semibold mt-2">{{ friend.receiver.full_name }}</h5>
              <span class="fs-4 mt-2">{{ friend.receiver.get_rank_display }}</span>
            {% else %}
              {% get_instance_avatar friend.requester size=120 as_href=True %}
              <h5 class="fw-semibold mt-2">{{ friend.requester.full_name }}</h5>
              <span class="fs-4 mt-2">{{ friend.requester.get_rank_display }}</span>
            {% endif %}
          </div>
          <ul class="px-2 py-2 bg-body-secondary list-unstyled d-flex align-items-center justify-content-center mb-0 d-flex flex-column">
            {% if view.kwargs.theorist_uuid == request.theorist.uuid %}
              {% if friend.requester.uuid == view.kwargs.theorist_uuid %}
                <button class="btn btn-outline-danger"
                        hx-delete="{% url 'forum:theorist_profile:friendship:theorist-friendship-broke-up' friend.uuid %}"
                        hx-confirm="{% blocktranslate trimmed with name=friend.receiver.full_name %}Are you sure you want to break friendship with {{ name }}? You should make friendship request again if you change your mind after that.{% endblocktranslate %}">
                  {% translate 'Break up' %}
                </button>
              {% elif friend.receiver.uuid == view.kwargs.theorist_uuid %}
                <button class="btn btn-outline-danger"
                        hx-delete="{% url 'forum:theorist_profile:friendship:theorist-friendship-broke-up' friend.uuid %}"
                        hx-confirm="{% blocktranslate trimmed with name=friend.requester.full_name %}Are you sure you want to break friendship with {{ name }}? You should make friendship request again if you change your mind after that.{% endblocktranslate %}">
                  {% translate 'Break up' %}
                </button>
              {% endif %}
            {% endif %}
            {% if friend.requester.uuid == view.kwargs.theorist_uuid %}
              <div class="d-flex flex-row">
                {% if friend.receiver.social_media_url %}
                  <li class="position-relative mt-2">
                    <a class="text-primary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold text-decoration-none"
                       href="{{ friend.receiver.social_media_url }}">
                      <i class="ti ti-app-window"></i>
                    </a>
                  </li>
                {% endif %}
                {% if friend.receiver.website_url %}
                  <li class="position-relative mt-2">
                    <a class="text-primary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold text-decoration-none"
                       href="{{ friend.receiver.website_url }}">
                      <i class="ti ti-brand-linktree"></i>
                    </a>
                  </li>
                {% endif %}
              </div>
            {% elif friend.receiver.uuid == view.kwargs.theorist_uuid %}
              <div class="d-flex flex-row">
                {% if friend.requester.social_media_url %}
                  <li class="position-relative mt-2">
                    <a class="text-primary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold text-decoration-none"
                       href="{{ friend.requester.social_media_url }}">
                      <i class="ti ti-app-window"></i>
                    </a>
                  </li>
                {% endif %}
                {% if friend.requester.website_url %}
                  <li class="position-relative mt-2">
                    <a class="text-primary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold text-decoration-none"
                       href="{{ friend.requester.website_url }}">
                      <i class="ti ti-brand-linktree"></i>
                    </a>
                  </li>
                {% endif %}
              </div>
            {% endif %}
          </ul>
        </div>
      </div>
    {% endfor %}
    <div class="mt-5">
      {% include 'common/pagination.html' with htmx_target='#accepted-list-js' %}
    </div>
  {% else %}
    {% translate 'Still empty 😢' as main_msg %}
    {% translate 'You can send friendship requests to theorists on their profiles' as msg %}
    {% include 'alerts/empty_alert.html' with main_msg=main_msg msg=msg %}
  {% endif %}
</div>