{% extends 'base/forum_base.html' %}

{% block head %}
{% load static %}
{% load pagination %}
<script src="{% static 'error_btn_listener.js' %}"></script>
<link type="text/css" href="{% static 'forum_creation.css' %}" rel="stylesheet">
<title>MathLab | Створити обговорення</title>
{% endblock %}

{% block body %}
{% endblock %}

{% block content %}
<div class="base-content">
    {% if error_msg %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <div id="form_errors">
            <strong>{{ error_msg }}</strong>
        </div>
        <button id="closeButton" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    <h1 class="display-5">Створити питання на форумі</h1>
    <form method="post" action="{% url 'forum:q-creation' %}">
        {% csrf_token %}
        <div style="margin-bottom: 5px;">
            <span>Тема питання *</span>
        </div>
        <input name="title" id="title" style="width: 620px; margin-bottom: 15px;"
               class="form-control" placeholder="Тема питання (не більше 85 символів)" maxlength="85" minlength="15">
        <span>Категорія питання <span style="color: red;">(не більше 4)</span> *</span>
        <div class="checkboxes">
        {% for num, category in categories %}
            <div class="form-check">
              <input class="form-check-input" name="category" type="checkbox" value="{{ num }}" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                {{ category|index:1 }}
              </label>
            </div>
        {% endfor %}
        </div>
        <div style="margin-bottom: 5px;">
            <span>Опишіть ваше Питання *</span>
        </div>
        <p>
            <textarea name="content" id="content" class="form-control textarea" placeholder="Питання" minlength="15" maxlength="2000"></textarea>
        </p>
        <div style="text-align: center;">
            <button type="submit" class="btn btn-dark">Створити запитання</button>
        </div>
    </form>

</div>
{% endblock %}

