{% extends 'base/forum_base.html' %}
{% load widget_tweaks %}

{% block head %}
  {% load i18n static pagination widget_tweaks %}
  <script src="{% static 'error_btn_listener.js' %}"></script>
  <link type="text/css" href="{% static 'forum_creation.css' %}" rel="stylesheet">
  <title>MathLab | Створити обговорення</title>
{% endblock %}

{% block body %}
  <div class="container-md border border-dark rounded-4">
    {% for error in form.errors %}
      {{ error }}
    {% endfor %}
    <form method="post" action="{% url 'forum:question-create' %}" class="row justify-content-md-center">
      {% csrf_token %}
      <h1 class="display-6 text-center mb-4">{% translate 'Create your question on forum' %}</h1>
      <div class="col-md-8">
        <span>{% translate 'Question topic' %} *</span>
        {{ form.title|add_class:"form-control" }}
      </div>
      <div class="col-md-8">
        <span>{% translate 'Question category' %} <small class="text-danger">({% translate 'No more than 4 categories' %}) *</small></span>
        {{ form.categories|add_class:"form-control selectpicker"|append_attr:"data-style:btn-default"|append_attr:"data-live-search:true"|append_attr:"multiple" }}
      </div>
      <div class="col-md-8">
        <span>{% translate 'Describe your question' %} *</span>
        {{ form.content|add_class:"form-control" }}
      </div>
      <div class="text-center mt-3 mb-3">
        <button type="submit" class="btn btn-dark">Створити запитання</button>
      </div>
    </form>

  </div>
{% endblock %}

