{% extends 'base/forum_base.html' %}
{% load i18n static widget_tweaks widened_widget_tweaks %}

{% block page_head %}
  <script src="{% static 'tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'django_tinymce/init_tinymce.js' %}"></script>
  <link type="text/css" href="{% static 'css/forum_creation.css' %}" rel="stylesheet">
  <title>MathLab | Створити обговорення</title>
{% endblock page_head %}

{% block body %}
  <div class="container">
    <form method="post" action="{% url 'forum:post-create' %}" class="row justify-content-center border border-dark rounded-4">
      {% csrf_token %}
      <h1 class="display-6 text-center mb-4">{% translate 'Create your question on forum' %}</h1>
      <div class="col-md-8">
        <span>{% translate 'Question topic' %} *</span>
        {% render_field form.title|add_bootstrap_validation_classes class="form-control" %}
        {% for error in form.title.errors %}
          <div class="text-danger mb-2">
            <small>{{ error }}</small>
          </div>
        {% endfor %}
      </div>
      <div class="col-md-8">
        <span>{% translate 'Question category' %} <small class="text-danger">({% translate 'No more than 4 categories' %}) *</small></span>
        {% render_field form.categories|add_bootstrap_validation_classes class="selectpicker form-control" data-style="btn-default" data-live-search="true" multiple="" %}
        {% for error in form.categories.errors %}
          <div class="text-danger mb-2">
            <small>{{ error }}</small>
          </div>
        {% endfor %}
      </div>
      <div class="col-md-8">
        <span>{% translate 'Describe your question' %} *</span>
        {{ form.content }}
      </div>
      <div class="text-center mt-3 mb-3">
        <button type="submit" class="btn btn-dark">{% translate 'Create question' %}</button>
      </div>
    </form>
  </div>
{% endblock %}

