{% extends 'base/forum_base.html' %}
{% load i18n static pagination urls widget_tweaks %}

{% block head %}
  <script src="{% static 'error_btn_listener.js' %}"></script>
  <link type="text/css" href="{% static 'forum_question.css' %}" rel="stylesheet">
  <title>{{ post.categories.first.get_name_display }} - {{ post.title }}</title>
{% endblock %}

{% block body %}
  <div class="base-content">
  {% if error_msg %}
    <div class="alert alert-danger alert-dismissible" role="alert">
      <div id="form_errors">
        <strong>{{ error_msg }}</strong>
      </div>
      <button id="closeButton" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
  <div>
    <h1 class="display-5 title">
      {{ post.title }}
    </h1>
    <div class="types">
      <span class="span-base"><b>Автор:</b>
          <a style="text-decoration: none;"
             href="{% url 'forum:profile' user_id=post.user.id username=post.user.username %}">{{ post.user.username }}</a> |
          <b>{{ post.user.rank }}</b></span>
      <span class="span-base"><b>Створено</b> {{ post.created_at|timesince }} тому</span>
      <span class="span-base"><b>Модифіковано</b> {{ post.modified_at|timesince }} тому</span>
      <span class="span-base"><b>Переглянуто</b> {{ post.post_views }} разів</span>
    </div>
    <div class="d_line"></div>
    <div class="interact">
      {% block post_likes_and_dislikes %}
        <div hx-get="{% url 'forum:hx-question-rate' post.uuid %}"
             hx-trigger="postLikesAndDislikesChanged from:body"
             hx-target="this"
        >
          <a type="button"
             class="{% if not post.is_already_liked %}text-secondary{% endif %} text-decoration-none d-flex flex-column align-items-center"
             hx-swap="none"
             hx-post="{% url 'forum:hx-question-rate' post.uuid %}?like=true">
              <i style="font-size: 35px" class="ti ti-thumb-up"></i>
            {{ post.custom_likes_counter }}
          </a>
          <a type="button"
             class="{% if not post.is_already_disliked %}text-secondary{% endif %} text-decoration-none d-flex flex-column align-items-center"
             hx-swap="none"
             hx-post="{% url 'forum:hx-question-rate' post.uuid %}">
            <i style="font-size: 35px" class="ti ti-thumb-down"></i>
            {{ post.custom_dislikes_counter }}
          </a>
        </div>
      {% endblock post_likes_and_dislikes %}
    </div>
    <div>
      <div class="question-content">
        <p class="text-justify">
          {{ post.content }}
        </p>
        <div class="topics">
          {% for category in post.categories.all %}
            <a href="{% url 'forum:base' %}?sort=popular&page=1&tags={{ сategory }}"
               class="a-topic">{{ category.get_name_display }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="comment">
      <div>
        <div hx-get="{% url 'forum:comments-count' post.uuid %}"
             hx-trigger="commentBlockChanged from:body"
             hx-target="this">
          {% with comment_quantity=post.comments_quantity %}
            {% block comment_quantity %}
              <h1 class="display-4" style="font-size: 23px; margin-top: 70px; margin-bottom: 10px;">
                  {% translate 'Answers' %}: {{ comment_quantity }}
              </h1>
            {% endblock %}
          {% endwith %}
        </div>
        <div class="sort">
          <div class="dropdown" style="margin-top: 5px; margin-bottom: 50px; ">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false" style="font-size: 10px;">
              Сортувати за:
            </button>
            <ul class="dropdown-menu">
              <li><a style="font-size: 15px;" class="dropdown-item"
                     href="{% url 'forum:question-post-base' post.id post.slug %}?order_by=popular">Популярні</a>
              </li>

              <li><a style="font-size: 15px;" class="dropdown-item"
                     href="{% url 'forum:question-post-base' post.id post.slug %}?order_by=created_at">Найновіші</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      <div hx-get="{% url 'forum:comments-block' post.uuid %}" hx-target="this" hx-trigger="load">
{#        Content will be placed here  #}
      </div>

      {% if pages > 6 %}
        {% for page in pages|page_convert:6 %}
          <a class="btn btn-dark"
             href="{% url 'forum:question-post-base' post.id post.slug %}?page={{ page }}"
             type="submit">{{ page }}</a>
        {% endfor %}
      {% endif %}
      <h1 style="font-size: 20px; margin-top: 150px;">Ваша відповідь</h1>
      {% if user.is_authenticated %}
        <div id="comment-block-js" hx-get="{% url 'forum:comment-create' post.uuid %}" hx-target="this"
             hx-trigger="load, commentBlockChanged from:body">
        {#            Content will be placed here   #}
        <div>
      {% else %}
        <h1 style="font-size: 20px; margin-top: 50px;"><a style="text-decoration: none;" href="{% url 'login_view' %}">Авторизуйтесь</a>,
          щоб залишити відповідь.</h1>
      {% endif %}
      </div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}

