{% extends 'base/forum_base.html' %}
{% load i18n static   widget_tweaks %}

{% block page_head %}
  <script src="{% static 'tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'django_tinymce/init_tinymce.js' %}"></script>
  <link type="text/css" href="{% static 'css/forum_question.css' %}" rel="stylesheet">
  <title>{{ post.categories.first.get_name_display }} - {{ post.title }}</title>
{% endblock page_head %}

{% block body %}
  <div class="base-content">
    <div>
      <div hx-get="{{ request.path }}"
           hx-select="#block-post-content"
           hx-target="#block-post-content"
           hx-trigger="postBlockChanged from:body"
           id="block-post-content"
      >
        <h1 class="display-5 title">
          {{ post.title }}
        </h1>
        <div class="types">
      <span class="span-base"><b>{% translate 'Author' %}:</b>
          <a class="text-decoration-none"
             href="{{ post.theorist.get_absolute_profile_url }}">{{ post.theorist.full_name }}</a> |
          <b>{{ post.theorist.get_rank_display }}</b></span>
          <span class="span-base"><b>{% translate 'Created at' %}</b> {{ post.created_at|timesince }} тому</span>
          <span class="span-base"><b>{% translate 'Modified at' %}</b> {{ post.modified_at|timesince }} тому</span>
          <span class="span-base"><b>{% translate 'Viewers' %}</b> {{ post.post_views }} разів</span>
        </div>
        <div class="d_line"></div>
        <div class="interact">
          {% block post_likes_and_dislikes %}
            <div hx-get="{% url 'forum:hx-post-rate' post.uuid %}"
                 hx-trigger="postLikesAndDislikesChanged from:body"
                 hx-target="this"
            >
              <a type="button"
                 class="{% if not post.is_already_liked %}text-secondary{% endif %} text-decoration-none d-flex flex-column align-items-center"
                 hx-swap="none"
                 hx-post="{% url 'forum:hx-post-rate' post.uuid %}?like=true">
                <i style="font-size: 35px" class="ti ti-thumb-up"></i>
                {{ post.custom_likes_counter }}
              </a>
              <a type="button"
                 class="{% if not post.is_already_disliked %}text-secondary{% endif %} text-decoration-none d-flex flex-column align-items-center"
                 hx-swap="none"
                 hx-post="{% url 'forum:hx-post-rate' post.uuid %}">
                <i style="font-size: 35px" class="ti ti-thumb-down"></i>
                {{ post.custom_dislikes_counter }}
              </a>
            </div>
          {% endblock post_likes_and_dislikes %}
          {% if request.user.is_email_verified %}
            <a class="btn btn-sm btn-secondary text-nowrap" disabled
               data-bs-toggle="tooltip" data-bs-placement="top"
               title="{% translate 'Sorry! You have to verify your email to interact.' %}"
               href="{% url 'forum:theorist_profile:base-page' post.theorist.pk post.theorist.full_name_slug %}"
            >
              {% translate 'Thank you!' %}
            </a>
          {% elif request.theorist.uuid == post.theorist.uuid %}
          {% elif post in request.theorist.supported_posts.all %}
            <a class="btn btn-sm btn-outline-primary text-nowrap" disabled
               data-bs-toggle="tooltip" data-bs-placement="top"
               title="{% translate 'You have already supported this post.' %}"
            >
              {% translate 'Thank you!' %}
            </a>
          {% else %}
            <button
                class="btn btn-sm btn-primary text-nowrap"
                hx-post="{% url 'forum:posts-support-update' post.uuid %}"
                hx-swap="none"
                hx-confirm="{% translate 'Do you want to support this post? You will raise score for this user by doing that.' %}"
            >
              {% translate 'Thank you!' %}
            </button>
          {% endif %}
        </div>
        <div class="question-content">
          <p class="text-justify">
            {{ post.content|safe }}
          </p>
          <div class="topics">
            {% for category in post.categories.all %}
              <a href="{% url 'forum:post-list' %}?sort=popular&page=1&tags={{ сategory }}"
                 class="a-topic">{{ category.get_name_display }}</a>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="comment">
        <div class="mt-3">
          <div hx-get="{% url 'forum:comments-count' post.uuid %}"
               hx-trigger="commentBlockChanged from:body"
               hx-target="this">
            {% with comment_quantity=post.comments_quantity %}
              {% block comment_quantity %}
                <span class="mt-4">
                  {% translate 'Answers' %}: {{ comment_quantity }}
              </span>
              {% endblock %}
            {% endwith %}
          </div>
          <div class="sort">
            <div class="dropdown" style="margin-top: 5px; margin-bottom: 50px; ">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                      aria-expanded="false" style="font-size: 10px;">
                {% translate 'Sort by' %}:
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a style="font-size: 15px;"
                     class="dropdown-item"
                     href="javascript:(0);"
                     hx-get="{% url 'forum:comments-block' post.uuid %}?order_by=best"
                     hx-select="#comment-list-js"
                     hx-target="#comment-list-js"
                     hx-trigger="click"
                  >
                    {% translate 'Best' %}
                  </a>
                </li>
                <li>
                  <a style="font-size: 15px;"
                     class="dropdown-item"
                     href="javascript:(0);"
                     hx-get="{% url 'forum:comments-block' post.uuid %}?order_by=newest"
                     hx-select="#comment-list-js"
                     hx-target="#comment-list-js"
                     hx-trigger="click"
                  >
                    {% translate 'Newest' %}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div hx-get="{% url 'forum:comments-block' post.uuid %}"
             hx-indicator="#comment-block-wait-spinner"
             hx-target="this"
             hx-trigger="load">
          {#        Content will be placed here  #}
          <div id="comment-block-wait-spinner" class="spinner-grow text-primary mt-2" role="status"></div>
        </div>

        {% if user.is_authenticated %}
          <h1 style="font-size: 20px; margin-top: 150px;">{% translate 'Your answer' %}</h1>
          <div id="comment-block-js" hx-get="{% url 'forum:comment-create' post.uuid %}" hx-target="this"
               hx-trigger="load delay:0.5s" hx-indicator="#comment-wait-spinner">
          {#            Content will be placed here   #}
          <div id="comment-wait-spinner" class="spinner-grow text-primary mt-2" role="status"></div>
          <div>
        {% else %}
          {% url 'login_view' as login_view %}
          {% blocktranslate trimmed %}
            <h1 style="font-size: 20px; margin-top: 50px;"><a style="text-decoration: none;" href="{{ login_view }}">Authorize</a>,
              to ask your questions.</h1>
          {% endblocktranslate %}
        {% endif %}
        </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
