{% extends 'base/forum_base.html' %}

{% block head %}
{% load static %}
<script src="{% static 'error_btn_listener.js' %}"></script>
<link type="text/css" href="{% static 'forum_creation.css' %}" rel="stylesheet">
<title>MathLab | Налаштування профілю</title>
{% endblock %}

{% block body %}
{% endblock %}

{% block content %}
<div class="base-content">
    {% if error_msg %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <div id="form_errors">
            <strong>{{ error_msg }}</strong>
        </div>
        <button id="closeButton" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    <h1 class="display-5" style="text-align: center;">Налаштування профілю</h1>
    <form method="post" action="{% url 'forum:settings' %}">
        {% csrf_token %}
        <div style="margin-bottom: 5px;">
            <span>Нікнейм</span>
        </div>
        <input name="username" id="title" style="width: 620px; margin-bottom: 15px;"
               class="form-control" placeholder="{{ user.username }}" maxlength="40" minlength="3">
        <div style="margin-bottom: 5px;">
            <span>Пошта</span>
        </div>
        <input name="email" style="width: 620px; margin-bottom: 15px;"
               class="form-control" placeholder="{{ user.email }}" maxlength="40" minlength="3">
        <div style="text-align: center;">
            <button type="submit" class="btn btn-dark">Змінити персональні дані</button>
        </div>
    </form>

    <div style="text-align: center; margin-top: 30px;">
        <a type="submit" href="{% url 'password_reset' %}" class="btn btn-dark btn-sm">Змінити пароль</a>
    </div>

</div>
{% endblock %}

