{% extends 'base/forum_base.html' %}
{% block head %}
{% load static %}
<title>Вхід до профілю</title>
<link type="text/css" href="{% static 'login.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div style="margin-top: 250px; text-align: -webkit-center; margin-bottom: 200px;">
    <h1>Ви вже авторизовані...<img src="{% static 'error.png' %}" style="width: 170px;"></h1>
</div>
{% else %}
  <div style="margin-top: 200px; text-align: -webkit-center; margin-bottom: 200px;">
      {% if error_msg %}
    <div class="alert alert-danger alert-dismissible" style="width: 450px;" role="alert">
        <div id="form_errors">
            <strong>{{ error_msg }}</strong>
        </div>
        <button id="closeButton" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    <div id="formContent">
      <form method="POST" action="{% url 'login_view' %}">
          {% csrf_token %}
        <input type="email" id="email" class="fadeIn second" name="email" style="margin-top: 45px;" placeholder="Пошта">
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="Пароль">
        <input type="submit" class="fadeIn fourth" value="Вхід">
          <div id="formFooter">
              <div style="margin-bottom: 10px;">
              <a class="underlineHover" style="text-decoration: none; color: black;" href="{% url 'register_view' %}">Зареєструватись</a>
              </div>
              <a class="underlineHover" style="text-decoration: none; color: black;" href="{% url 'password_reset' %}">Забули пароль?</a>
          </div>
      </form>
    </div>
  </div>
{% endif %}
{% endblock %}