{% extends 'base/forum_base.html' %}
{% block head %}
{% load static %}
<link type="text/css" href="{% static 'login.css' %}" rel="stylesheet">
<title>Вийти з профілю</title>
{% endblock %}
{% block content %}
{% block body %}
{% endblock %}
<div style="margin-top: 200px; text-align: -webkit-center; margin-bottom: 200px;">
    <div id="formContent">
        <form method="POST" action="{% url 'logout_view' %}">
            {% csrf_token %}
            <h1 class="display-4" style="font-size: 33px;">{{ user.username }}, Ви бажаєте вийти з профілю?</h1>
            <input style="margin-top:40px;" type="submit" class="fadeIn fourth" value="Вихід">
        </form>
    </div>
</div>

{% endblock %}