{% extends 'base/forum_base.html' %}
{% block head %}
{% load static %}
<link type="text/css" href="{% static 'login.css' %}" rel="stylesheet">
<title>Зміна паролю від профілю</title>
{% endblock %}
{% block body %}
{% endblock %}
{% block content %}
    <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    {% if validlink %}
                        <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                            <div class="card-header justify-content-center">
                              <h3 class="font-weight-light my-4 text-center">Зміна паролю від профілю</h3>
                            </div>
                            {% if form.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <div id="form_errors">
                                        {% for key, value in form.errors.items %}
                                            <strong>{{ value }}</strong>
                                        {% endfor %}
                                    </div>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}

                            <div class="card-body">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-group">
                                                <label class="small mb-1" for="id_new_password1"></label>
                                                <input type="password" name="new_password1" autocomplete="new-password"
                                                       class="fadeIn third" style="margin-left: 25px;" required id="id_new_password1"
                                                       placeholder="Введіть новий пароль"/>
                                                <span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-group">
                                                <label class="small mb-1" for="id_new_password2"></label>
                                                <input type="password" name="new_password2" autocomplete="new-password"
                                                       class="fadeIn third" style="margin-left: 25px;" required id="id_new_password2"
                                                       placeholder="Повторити новий пароль"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-group mt-0 mb-1" style="text-align: center;">
                                                <input style="margin-top: 20px; "
                                                        type="submit" class="fadeIn fourth" id="reset" value="Змінити пароль">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% else %}
                    <div class="alert alert-warning">
                        Посилання на зміну паролю не є дійсним. Скоріш за все, тому що воно було вже використане.<br />
                        <br />
                        Будь ласка, зробіть новий запит на зміну паролю.
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}