{% extends 'base/forum_base.html' %}
{% block head %}
{% load static %}
<link type="text/css" href="{% static 'css/login.css' %}" rel="stylesheet">
<title>Змінити пароль</title>
{% endblock %}
{% block body %}
    <div class="container my-3 p-3">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                    <div class="alert alert-info" style="text-align: center; font-size: 20px;">
                        Ваш пароль був успішно змінений. <br />Авторизуйтесь за <a style="text-decoration: none;" href="{% url 'login_view' %}">Цим</a> посиланням
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}