{% extends 'base/forum_base.html' %}
{% block head %}
{% load static %}
<link type="text/css" href="{% static 'css/login.css' %}" rel="stylesheet">
<title>Зареєструватись</title>
{% endblock %}
{% block body %}
{% if user.is_authenticated %}
<div style="margin-top: 250px; text-align: -webkit-center; margin-bottom: 200px;">
    <h1>Ви вже авторизовані...<img src="{% static 'img/base/error.png' %}" style="width: 170px;"></h1>
</div>
{% else %}
<div style="margin-top: 200px; text-align: -webkit-center; margin-bottom: 200px;">
    {% if error_msg %}
    <div class="alert alert-danger alert-dismissible" style="width: 450px;" role="alert">
        <div id="form_errors">
            <strong>{{ error_msg }}</strong>
        </div>
        <button id="closeButton" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    <div id="formContent">
    <form method="POST" action="{% url 'register_view' %}">
        {% csrf_token %}
        <input type="text" id="username" class="fadeIn third" name="username" placeholder="Нікнейм">
        <input type="email" id="email" class="fadeIn second" name="email" placeholder="Пошта">
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="Пароль">
        <input type="submit" class="fadeIn fourth" value="Зареєструватись">
        <div id="formFooter">
              <a class="underlineHover" style="text-decoration: none; color: black;" href="{% url 'login_view' %}">Авторизуватись</a>
          </div>
    </form>
    </div>
</div>
{% endif %}
{% endblock %}