{% extends 'base/forum_base.html' %}
{% load static i18n %}

{% block page_head %}
  <title>Mathlab | {% translate 'Mathlab community' %}</title>
{% endblock page_head %}

{% block page_css %}
  <link href="{% static 'css/common/offcanvas.css' %}" rel="stylesheet">
{% endblock page_css %}

{% block body %}
  <main role="main" class="container d-block d-sm-flex">
    <div class="container w-50">
      <div class="my-3 p-3 rounded box-shadow">
        <div class="text-center d-flex align-items-center flex-column"
             hx-get="{% url 'forum:theorist_community:hx-friends-last-activities' %}"
             hx-target="this"
             hx-trigger="load"
        >
          <div id="pending-list-block-wait-spinner" style="width: 2rem; height: 2rem;"
               class="spinner-grow text-primary mt-2" role="status"></div>
          <small class="text-muted" style="font-size: 13px">{% translate 'Loading...' %}</small>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="my-3 p-3 rounded box-shadow">
        <div class="text-center d-flex align-items-center flex-column"
             hx-get="{% url 'forum:theorist_community:hx-base-list' %}"
             hx-trigger="load once"
             hx-target="this"
        >
          <div id="community-list-block-wait-spinner" style="width: 2rem; height: 2rem;"
               class="spinner-grow text-primary mt-2" role="status"></div>
          <small class="text-muted" style="font-size: 13px">{% translate 'Loading...' %}</small>
        </div>
      </div>
    </div>
  </main>
{% endblock body %}