{% load static i18n avatars %}

<header class="p-3 mb-3 border-bottom" style="padding: 0.5rem !important;">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/server/static" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'mathlab:base-math-news' %}" class="nav-link px-2 link-secondary">Mathlab</a></li>
        <li><a href="{% url 'forum:post-list' %}?sort=popular&page=1" class="nav-link px-2 link-dark">Форум</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'forum:post-create' %}" class="nav-link px-2 link-dark">Нове обговорення</a></li>
        {% else %}
          <li><a href="{% url 'users:base-auth' %}?signup=true" class="nav-link px-2 link-dark">Нове обговорення</a></li>
        {% endif %}
      </ul>
{#      {% if user.is_authenticated %}#}
{#        <ul class="nav col-md-4 justify-content-end">#}
{#          <li class="nav-item"><a href="{% url 'mathlab:chat-list' %}?page=1"#}
{#                                  class="nav-link px-2 text-muted">#}
{#            <img alt="chat" width="33" height="34" src="{% static 'img/forum/chatting.png' %}"></a></li>#}
{#        </ul>#}
{#      {% endif %}#}

      <div class="dropdown_user text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle"
           id="dropdownUser1"
           hx-get="{{ request.path }}"
           hx-select="#dropdownUser1"
           hx-target="#dropdownUser1"
           hx-swap="outerHTML"
           hx-trigger="imageChanged from:body"
           data-bs-toggle="dropdown" aria-expanded="false"
        >
          {% get_instance_avatar request.theorist size=40 %}
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          {% if user.is_authenticated %}
            <li><a class="dropdown-item"
                   href="{% url 'forum:theorist_profile:base-page' request.theorist.id request.theorist.full_name_slug %}">Профіль</a></li>
            <li><a class="dropdown-item" href="{% url 'forum:post-create' %}">Задати питання...</a></li>
            <li><a class="dropdown-item" href="">Налаштування</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="javascript:(0);"
                   hx-post="{% url 'users:logout-view' %}"
                   hx-confirm="{% translate 'Are you sure?' %}">
              Вийти з профілю
            </a>
            </li>
          {% else %}
            <li><a class="dropdown-item" href="{% url 'users:base-auth' %}?signup=true">Задати питання...</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'users:base-auth' %}">Увійти</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</header>