{% load static i18n avatars %}

<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-end">
      <a href="/server/static" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li>
          <a href="{% url 'mathlab:math_news:base-math-news' %}" class="nav-link link-secondary">
            <i class="ti ti-sum"></i> Mathlab
          </a>
        </li>
        <li>
          <a href="{% url 'forum:base-forum-page' %}" class="nav-link px-2 link-secondary">
            <i class="ti ti-users"></i> {% translate 'Forum' %}
          </a>
        </li>
        {% if user.is_authenticated %}
          <li>
            <a href="{% url 'forum:post-create' %}" class="nav-link px-2 link-secondary">
              <i class="ti ti-help-hexagon"></i> {% translate 'New discussion' %}
            </a>
          </li>
        {% else %}
          <li>
            <a href="{% url 'users:base-auth' %}?signup=true" class="nav-link px-2 link-secondary">
              <i class="ti ti-help-hexagon"></i>{% translate 'New discussion' %}
            </a>
          </li>
        {% endif %}
      </ul>
      <div class="dropdown_user text-end">
        <a href="#" class="d-block link-secondary text-decoration-none dropdown-toggle"
           id="dropdownUser1"
           hx-get="{{ request.path }}"
           hx-select="#dropdownUser1"
           hx-target="#dropdownUser1"
           hx-swap="outerHTML"
           hx-trigger="imageChanged from:body"
           data-bs-toggle="dropdown" aria-expanded="false"
        >
          {% get_instance_avatar request.theorist size=40 %}
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          {% if user.is_authenticated %}
            <li><a class="dropdown-item"
                   href="{% url 'forum:theorist_profile:base-page' request.theorist.id request.theorist.full_name_slug %}"><i class="ti ti-user"></i> {% translate 'Profile' %}</a></li>
            <li><a class="dropdown-item" href="{% url 'forum:post-create' %}"><i class="ti ti-help-hexagon"></i> {% translate 'Ask question' %}...</a></li>
            <li><a class="dropdown-item" href=""><i class="ti ti-message"></i> {% translate 'My messages' %}</a></li>
            <li><a class="dropdown-item" href="{% url 'forum:theorist_profile:settings:theorist-profile-settings' %}"><i class="ti ti-settings"></i> {% translate 'Settings' %}</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item text-danger" href="javascript:(0);"
                   hx-post="{% url 'users:logout-view' %}"
                   hx-confirm="{% translate 'Do you want to log out from your account?' %}">
              <i class="ti ti-logout"></i> {% translate 'Log out' %}
            </a>
            </li>
          {% else %}
            <li><a class="dropdown-item" href="{% url 'users:base-auth' %}?signup=true"><i class="ti ti-help-hexagon"></i> {% translate 'Ask question' %}...</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'users:base-auth' %}"><i class="ti ti-login-2"></i> {% translate 'Log in' %}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</header>