{% extends 'base/mathlab_base.html' %}
{% load i18n static %}

{% block page_head %}
  <title>MathLab | {% translate 'Drafts' %}</title>
{% endblock page_head %}

{% block page_css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photoswipe@5.4.4/dist/photoswipe.min.css">
  <style>
    .img-bg {
        --pswp-bg: #ffffff;
    }
  </style>
{% endblock page_css %}

{% block body %}
  <div>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light"><i class="ti ti-notes"></i>{% translate 'Drafts' %}</h1>
          <p class="lead text-body-secondary">
            {% blocktranslate trimmed %}
              Here you can make and manage your math drafts for future use.
            {% endblocktranslate %}
          </p>
          {% if request.user.is_authenticated %}
            <i class="ti ti-columns me-1"
               data-bs-toggle="tooltip" data-bs-placement="top"
               title="{% translate 'Album view' %}"
               style="font-size: 20px"></i>
            <i class="ti ti-table ms-1"
               data-bs-toggle="tooltip" data-bs-placement="top"
               title="{% translate 'Table view' %}"
               style="font-size: 20px"></i>
            <div class="form-check form-switch d-flex justify-content-center">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                     {% if request.GET.view == 'table' %}checked{% endif %}>
          {% endif %}
          </div>
        </div>
      </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
      <div class="container">
        {% if request.user.is_authenticated %}
          <div class="text-end">
            <button type="button"
                    hx-get="{% url 'mathlab:drafts:drafts-create' %}?view={{ request.GET.view }}"
                    hx-target="#drafts-management-modal"
                    hx-trigger="click"
                    class="btn btn-primary btn-lg mb-3"
                    data-bs-toggle="modal"
                    data-bs-target="#drafts-management-modal">
              <i class="ti ti-plus"></i>
              {% translate 'Add new draft' %}
            </button>
          </div>

          <div
              {% if request.GET.view == 'table' %}
               class="row row-cols-1"
               hx-get="{% url 'mathlab:drafts:drafts-table-list' request.theorist.uuid %}?view=table"
              {% else %}
               hx-get="{% url 'mathlab:drafts:drafts-album-list' request.theorist.uuid %}?view=album"
              {% endif %}
               hx-trigger="load"
               hx-target="this"
          ></div>
        {% else %}
          {% include 'common/not_auth_register_alert.html' %}
        {% endif %}

      </div>
    </div>
  </div>

  <div class="modal fade"
       id="drafts-management-modal"
       tabindex="-1"
       aria-hidden="true"
       hx-target="this"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document"></div>
  </div>
{% endblock body %}

{% block page_js %}
  <script type="module">
    import PhotoSwipeLightbox from '{% static 'js/photoswipe/photoswipe-lightbox.esm.js' %}';
    document.body.addEventListener("htmx:afterOnLoad", function () {
        const lightbox = new PhotoSwipeLightbox({
            gallery: '#gallery',
            mainClass: 'img-bg',
            children: 'a',
            wheelToZoom: true,
            pswpModule: () => import('{% static 'js/photoswipe/photoswipe.esm.js' %}')
        });
        lightbox.init();
    });
  </script>
  <script>
    document.getElementById("flexSwitchCheckChecked").addEventListener("change", function () {
      const url = new URL(window.location);

      if (this.checked) {
          url.searchParams.set("view", "table");
      } else {
          url.searchParams.delete("view");
      }

      window.location = url;
    });
  </script>
{% endblock page_js %}
