{% extends 'base/mathlab_base.html' %}
{% load i18n static %}

{% block page_head %}
  <title>MathLab | Чернетки</title>
{% endblock page_head %}

{% block body %}
  <div>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Album example</h1>
          <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the
            creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
          <i class="ti ti-columns me-1" style="font-size: 20px"></i>
          <i class="ti ti-table ms-1" style="font-size: 20px"></i>
          <div class="form-check form-switch d-flex justify-content-center">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                   {% if request.GET.view == 'table' %}checked{% endif %}>
          </div>
        </div>
      </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
      <div class="container">
        <div class="text-end">
          <button type="button"
                  hx-get="{% url 'mathlab:drafts:drafts-create' %}"
                  hx-target="#draft-create-modal"
                  hx-trigger="click"
                  class="btn btn-primary btn-lg mb-3"
                  data-bs-toggle="modal"
                  data-bs-target="#draft-create-modal">
            <i class="ti ti-plus"></i>
            {% translate 'Add new draft' %}
          </button>
        </div>

        {% if request.user.is_authenticated %}
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"
              {% if request.GET.view == 'table' %}
               hx-get="{% url 'mathlab:drafts:drafts-table-list' request.theorist.uuid %}"
              {% else %}
               hx-get="{% url 'mathlab:drafts:drafts-album-list' request.theorist.uuid %}"
              {% endif %}
               hx-trigger="load"
               hx-target="this"
          ></div>
        {% endif %}

      </div>
    </div>
  </div>

  <div class="modal fade"
       id="draft-create-modal"
       tabindex="-1"
       aria-hidden="true"
       hx-target="this"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document"></div>
  </div>
{% endblock body %}

{% block page_js %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photoswipe@5.4.4/dist/photoswipe.min.css">
  <script type="module">
    import PhotoSwipeLightbox from '{% static 'js/photoswipe/photoswipe-lightbox.esm.js' %}';
    document.body.addEventListener("htmx:afterOnLoad", function () {
        const lightbox = new PhotoSwipeLightbox({
            gallery: '#gallery',
            children: 'a',
            pswpModule: () => import('{% static 'js/photoswipe/photoswipe.esm.js' %}')
        });
        lightbox.init();
    });
  </script>
  <script>
    document.getElementById("flexSwitchCheckChecked").addEventListener("change", function () {
      const url = new URL(window.location);

      if (this.checked) {
          url.searchParams.set("view", "table");
      } else {
          url.searchParams.delete("view");
      }

      window.location = url;
    });
  </script>
{% endblock page_js %}
