{% extends "base/mathlab_base.html" %}
{% load static %}

{% block page_head %}
  <link type="text/css" href="{% static 'css/graphbuilder.css' %}" rel="stylesheet">
  <head>
    <script src="{% static 'js/graphbuilder.js' %}"></script>
    <title>MathLab | Побудуй графік</title>
  </head>
{% endblock page_head %}

{% block body %}
  <div style="text-align: center; margin-top: 100px;">
    <form class="input-form">
      <h1>Побудувати графік функції</h1>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">y =</span>
        </div>
        <input id="function" type="text" class="form-control" placeholder="Функція з X" aria-label="Username"
               aria-describedby="basic-addon1">
        <script>
          var input = document.getElementById("function");
          input.addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
              event.preventDefault();
              document.getElementById("builder").click();
            }
          });
        </script>
      </div>

    </form>
    <button id="builder" class="btn btn-outline-primary" style="margin-top: 20px;"
            onclick="graphBuilder(document.getElementById('function').value)">
      Побудувати графік
    </button>
    <div style="margin-top: 30px;">
      {% for elem in graph %}
        {{ elem|safe }}
      {% endfor %}
    </div>
  </div>
{% endblock body %}