{% extends "base/mathlab_base.html" %}
{% load static %}

{% block page_head %}
  <link type="text/css" href="{% static 'css/graphbuilder.css' %}" rel="stylesheet">
  <head>
    <script src="{% static 'js/graphbuilder.js' %}"></script>
    <title>MathLab | Побудуй графік</title>
  </head>
{% endblock page_head %}

{% block body %}
  <div style="text-align: center; margin-top: 100px;">
    <form class="input-form">
      <div id="popupContainer" class="popup-container">
        <div class="popup-content">
          <span class="close" id="closePopup">&times;</span>
          <h3>Синтаксис вводу математичних операцій на сайті</h3>
          <blockquote class="blockquote">
            <p class="mb-0"><b>"*"</b> - Множення</p>
            <p class="mb-0"><b>"/"</b> - Ділення</p>
            <p class="mb-0"><b>"+"</b> - Додавання</p>
            <p class="mb-0"><b>"-"</b> - Віднімання</p>
            <p class="mb-0"><b>"sqrt"</b> - Корінь квадратний. Приклад: "sqrt(x)"</p>
            <p class="mb-0"><b>"**"</b> - Квадрат. Приклад: "x**2"</p>
            <p class="mb-0"><b>"log"</b> - Логарифм. Приклад: "log(x)"</p>
            <p class="mb-0"><b>"abs"</b> - Модуль. Приклад: "abs(x)"</p>
          </blockquote>
          <h3>Синтаксис вводу прикладів</h3>
          <p class="mb-0"><b>"x, y"</b> - Перерахунок обчислень через кому <br/>(наприклад, для системи)</p>
          <p class="mb-0"><b>"(x + y) * 5"</b> - Дужки слугують для визначення пріоритетності обчислення</p>
          <p class="mb-0"><b>"(x + 1) / (x * 2)"</b> - Ділення вигляду <img width="60px;" height="50px;"
                                                                            src="{% static 'img/math/example1.png' %}"></p>
        </div>
      </div>
      <p class="indications">
        <button class="btn btn-outline-primary" type="button" id="showPopupButton">Відкрити вказівники</button>
      </p>
      <h1>Побудувати графік функції</h1>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">y =</span>
        </div>
        <input id="function" type="text" class="form-control" placeholder="Функція з X" aria-label="Username"
               aria-describedby="basic-addon1">
        <script>
            var input = document.getElementById("function");
            input.addEventListener("keypress", function (event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                    document.getElementById("builder").click();
                }
            });
        </script>
      </div>

    </form>
    <button id="builder" class="btn btn-outline-primary" style="margin-top: 20px;"
            onclick="graphBuilder(document.getElementById('function').value)">
      Побудувати графік
    </button>
    <div style="margin-top: 30px;">
      {% for elem in graph %}
        {{ elem|safe }}
      {% endfor %}
    </div>
  </div>
{% endblock body %}