{% load i18n static widget_tweaks widened_widget_tweaks %}

<div class="modal-dialog modal-xl modal-dialog-centered">
  <div class="modal-content">
    <form hx-post="{{ request.get_full_path }}">
      <div class="modal-header">
        <h5 class="modal-title">{% translate 'Add new draft' %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <label for="{{ form.label.id_for_label }}" class="form-label">{% translate 'Draft label' %}</label>
        {% render_field form.label class="form-control" %}
        {% render_field_errors form.label %}

        <label for="{{ form.description.id_for_label }}" class="form-label">{% translate 'Description' %}</label>
        {% render_field form.description class="form-control" %}
        {% render_field_errors form.description %}
        {{ form.draft }}
        
        <div class="form-check form-switch">
          {% render_field form.is_public_available class="form-check-input" %}
          <label class="form-check-label text-lg-nowrap" for="{{ form.is_public_available.id_for_label }}">
            {% translate 'Is draft can be accessed for public' %}
          </label>
          {% render_field_errors form.is_public_available small=True %}
        </div>

        <label for="drawingCanvas" class="form-label">{% translate 'Your draft' %}</label>
        <div id="fabric-canvas-wrapper">
          <canvas id="drawingCanvas" class="border border-1 border-secondary rounded"></canvas>
        </div>

        <div class="d-flex flex-wrap gap-2 align-items-center mt-3 justify-content-center">
          <button type="button" id="drawing-mode" class="btn btn-success btn-sm">
            <i class="bi bi-pencil"></i> {% translate 'Toggle mode' %}
          </button>

          <div class="d-flex align-items-center">
            <label for="drawing-color" class="me-2 fw-bold">Color:</label>
            <input type="color" id="drawing-color" class="form-control form-control-color">
          </div>

          <div class="d-flex align-items-center">
            <label for="drawing-line-width" class="me-2 fw-bold">Brush Width:</label>
            <input type="number" id="drawing-line-width" class="form-control w-auto" value="5" min="1" max="50">
          </div>

          <div class="d-flex align-items-center">
            <label for="drawing-mode-selector" class="me-2 fw-bold">Mode:</label>
            <select id="drawing-mode-selector" class="form-select w-auto">
              <option value="pencil">Pencil</option>
              <option value="hline">Horizontal Line</option>
              <option value="vline">Vertical Line</option>
            </select>
          </div>

          <button type="button" id="clear-canvas" class="btn btn-outline-danger btn-sm">
            <i class="bi bi-trash"></i> {% translate 'Clear' %}
          </button>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" hx-on:click="window.location.reload()" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" hx-on:click="saveDrawing()" class="btn btn-primary">{% translate 'Add' %}</button>
      </div>
    </form>
  </div>
</div>

<script>
    function saveDrawing() {
        var canvas = document.getElementById("drawingCanvas");
        document.getElementById('{{ form.draft.id_for_label }}').value = canvas.toDataURL("image/png");
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/fabric@latest/dist/index.min.js"></script>
<script src="{% static 'js/draft.js' %}"></script>
