{% extends "base/mathlab_base.html" %}
{% load static %}
{% block head %}
<link rel="icon" type="image/x-icon" href="{% static 'logo.png' %}">
<head>
    <title>MathLab | Поясни тему</title>
</head>
{% endblock %}

{% block content %}
<div style="text-align: center;">
    <h1 class="index" >Поясни тему</h1>
    <div style="margin-top: 30px;">
        <form>
            <div style="text-align: -webkit-center;">
            <input id="search-input" class="form-control" style="width: 250px; text-align: center;"
                   placeholder="Введіть тему для пояснення">
            <script>
                var input = document.getElementById("search-input");
                input.addEventListener("keypress", function(event) {
                  if (event.key === "Enter") {
                    event.preventDefault();
                    document.getElementById("myBtn").click();
                  }
                });
            </script>
            <div style="margin-top: 30px;">
                <button id="myBtn" type="button" onclick="explainMe(document.getElementById('search-input').value)"
                        class="btn btn-outline-primary">Знайти пояснення теми...</button>
            {% if explanation %}
            </div>
            <div class="input-form">
                <img width="350px" height="250px;" src="{{ img }}">
                <h1 style="margin-top: 20px; font-size: 20px;" class="display-4">
                    {{ explanation|safe }}
                </h1>
            </div>
            </div>
            {% endif %}
        </form>
    </div>
<script src="{% static 'explainme.js' %}"></script>
</div>

{% endblock %}