{% load i18n static pagination urls widget_tweaks %}

<div hx-get="{{ request.path }}"
     class="comment-block"
     hx-select=".comment-block"
     hx-target=".comment-block"
     hx-trigger="commentBlockChanged from:#comment-block-js">
  {% for comment in post.comments.all %}
    <div class="full-answer-{{ comment.uuid }}">
      <div class="types">
        <span class="span-base"><b>Автор:</b>
            <a style="text-decoration: none;"
               href="{% url 'forum:profile' user_id=comment.user.id username=comment.user.username %}"> {{ comment.user.username }} </a> |
            <b>{{ comment.user.rank }}</b></span>
        <span class="span-base"><b>Створено</b> {{ comment.created_at|timesince }} тому</span>
        {% if comment.modified_at is not none %}
          <span class="span-base"><b>Модифіковано</b>{{ comment.modified_at|timesince }} тому</span>
        {% endif %}
        <div style="margin-left: 15px;">
          {% if comment.user.id == user.id %}
            <button class="btn btn-danger btn-sm"
                    type="submit"
                    hx-delete="{% url 'forum:comment-delete' comment.uuid post.uuid %}"
                    hx-confirm="{% translate 'Are you sure?' %}"
                    hx-swap="outerHTML swap:1s"
                    hx-target=".full-answer-{{ comment.uuid }}"
            >
              Delete comment
            </button>
          {% endif %}
        </div>
      </div>
      <div class="d_line"></div>
      <div class="interact">
        {#                        <form method="post" action="{% url 'forum:q-comm-rate' q_id=post.id title=post.title|hyphens_add %}">#}
        {#                            {% csrf_token %}#}
        {#                        <input type="hidden" name="comm_id" value="{{ comment.id }}">#}
        {#                        <input type="hidden" name="user_id" value="{{ comment.user.id }}">#}
        {#                        <input type="hidden" name="like" value="like">#}
        {#                        {{ comment.likes_count }}<button type="submit" style="margin-bottom: 15px;" class="nav-link px-2 text-muted">#}
        {#                        <img width="35" height="40" src="{% static 'like.png' %}"></button>#}
        {#                        </form>#}

        {#                        <form method="post" action="{% url 'forum:q-comm-rate' q_id=post.id title=post.title|hyphens_add %}">#}
        {#                            {% csrf_token %}#}
        {#                        <input type="hidden" name="comm_id" value="{{ comment.id }}">#}
        {#                        <input type="hidden" name="user_id" value="{{ comment.user.id }}">#}
        {#                        <input type="hidden" name="dislike" value="dislike">#}
        {#                        {{ comment.dislikes_count }}<button type="submit" class="nav-link px-2 text-muted">#}
        {#                        <img width="35" height="40" src="{% static 'dislike.png' %}"></button>#}
        {#                        </form>#}
      </div>
      <div style="margin-bottom: 150px;">
        <div class="question-content">
          <p style="text-align: justify;">
            {{ comment.comment }}
          </p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>