{% load i18n static widget_tweaks %}
{{ form.media }}

<form hx-post="{% url 'forum:comment-create' post.uuid %}"
      id="comment-block-create"
      hx-swap="none"
      _="on submit toggle @hidden on #comment-wait-spinner until htmx:afterOnLoad"
      hx-on::after-request="this.reset()">
  {{ form.comment }}
  <button type="submit" class="btn btn-dark mt-3">
    <span id="comment-wait-spinner" class="spinner-grow spinner-grow-sm text-primary mt-2" role="status" hidden></span>
    {% translate 'Add comment' %}
  </button>
</form>

<style>
  @media (min-width: 1200px) {
    #comment-block-create {
        width: 800px;
    }
}
</style>
