{% load i18n static widget_tweaks %}
{{ form.media }}

<form hx-post="{% url 'forum:comment-create' post.uuid %}"
      id="comment-block-create"
      class="text-center"
      hx-swap="none"
      _="on submit toggle @hidden on #comment-wait-spinner until htmx:afterOnLoad"
      hx-on::after-request="this.reset()">
  {{ form.comment }}
  <button type="submit" class="btn btn-primary mt-3">
    <span id="comment-wait-spinner" class="spinner-grow spinner-grow-sm text-light mt-2" role="status" hidden></span>
    {% translate 'Add comment' %}
  </button>
</form>
