{% load i18n static widened_widget_tweaks widget_tweaks %}

<div class="card">
  <div class="card-header">
    <h5 class="card-title mb-0"><i class="ti ti-lock"></i> {% translate 'Password' %}</h5>
  </div>

  <div class="card-body">
    <form hx-post="{{ request.path }}">
      <div class="form-group mb-3">
        <label for="{{ form.oldpassword.id_for_label }}">{% translate 'Current password' %}</label>
        {% render_field form.oldpassword class="form-control" %}
        {% render_field_errors form.password1 small=True %}
        <small><a href="{% url 'users:reset-password-view' %}">{% translate 'Forgot your password?'%}</a></small>
      </div>
      <div class="form-group mb-3">
        <label for="{{ form.password1.id_for_label }}">{% translate 'New password' %}</label>
        {% render_field form.password1 class="form-control" %}
        {% render_field_errors form.password1 small=True %}
        {{ form.password1.help_text }}
      </div>
      <div class="form-group mb-3">
        <label for="{{ form.password2.id_for_label }}">{% translate 'New password (again)' %}</label>
        {% render_field form.password2 class="form-control" %}
        {% render_field_errors form.password2 small=True %}
      </div>
      {% include 'common/captcha.html' %}
      <button type="submit" class="btn btn-primary">{% translate 'Change password' %}</button>
    </form>

  </div>
</div>

<script src="{% static 'js/refresh_captcha.js' %}"></script>
