.green-audio-player {
    background-color: unset;
    width: 100% !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.controls__total-time {
    display: none;  /* TODO: https://github.com/greghub/green-audio-player/issues/13 */
}

.progress__pin {
    background-color: #0d6efd !important;
}

.controls__progress {
    background-color: #8bb5f8 !important;
}

.volume {
    display: block !important;
}

.volume__progress {
    background-color: #8bb5f8 !important;
}

.volume__pin {
    background-color: #0d6efd !important;
}

.volume__speaker {
    fill: #71a7ff !important;
}