{% load i18n static widget_tweaks widened_widget_tweaks %}

<script src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'django_tinymce/init_tinymce.js' %}"></script>
<script src="{% static 'js/eqneditor.js' %}"></script>

<form {% render_form_spinner_attrs %} hx-post="{{ request.path }}" class="row justify-content-center">
  <h1 class="display-6 text-center mb-4">{% translate 'Create your question on forum' %}</h1>
  <div class="col-md-8">
    <span>{% translate 'Question topic' %} *</span>
    {% render_field form.title|add_bootstrap_validation_classes class="form-control" %}
    {% render_field_errors form.title %}
  </div>
  <div class="col-md-8">
    <span>{% translate 'Question category' %} <small class="text-danger">({% translate 'No more than 4 categories' %}) *</small></span>
    {% render_field form.categories|add_bootstrap_validation_classes class="selectpicker form-control" data-style="btn-default" data-live-search="true" multiple="" %}
    {% render_field_errors form.categories %}
  </div>
  <div class="col-md-8">
    <span>{% translate 'Describe your question' %} *</span>
    {{ form.content }}
  </div>
  <div class="text-center mt-3 mb-3">
    {% translate 'Create question' as btn_label %}
    {% render_submit_button btn_label with_icon="ti ti-copy-check" %}
  </div>
</form>

<script>
  $(document).ready(function () {
    $('.selectpicker').selectpicker();
  });
</script>
