{% load i18n static widget_tweaks %}
{{ form.media }}

<form hx-post="{{ request.path }}"
      hx-trigger="submit"
      class="d-flex btn-group mb-3"
      hx-swap="none"
      _="on submit toggle @hidden on #post-wait-spinner until htmx:afterOnLoad">
  {% render_field form.title class="form-control" %}
  <button type="submit" class="btn btn-success">
    <span id="post-wait-spinner" class="spinner-grow spinner-grow-sm text-light mt-2" role="status" hidden></span>
    <i class="ti ti-check"></i>
  </button>
</form>
