{% load i18n static widget_tweaks widened_widget_tweaks %}
{{ form.media }}
<script src="{% static 'js/eqneditor.js' %}"></script>

<form hx-post="{{ request.path }}"
      hx-trigger="submit"
      id="post-block-update"
      class="btn-group d-flex align-items-start"
      hx-swap="none"
      {% render_form_spinner_attrs target_spinner_id="post-content-wait-spinner" %}>
  {{ form.content }}
  {% render_submit_button class="btn btn-success mt-3" spinner_id="post-content-wait-spinner" with_icon="ti ti-check" %}
</form>
