{% load i18n %}

<header class="navbar navbar-fixed-top d-flex justify-content-center py-3">
  <ul class="nav nav-pills d-flex justify-content-center">
    <li class="nav-item">
      <a href="{% url 'mathlab:math_news:base-math-news' %}"
         class="nav-link {% if 'news' in request.path %}active{% endif %}"
         aria-current="page">{% translate 'Main page' %}</a>
    </li>
    <li class="nav-item">
      <a href="{% url 'mathlab:drafts:base-drafts' %}"
         class="nav-link">{% translate 'Drafts' %}</a>
    </li>
    <li class="nav-item">
      <a href="{% url 'forum:base-forum-page' %}"
         class="nav-link">{% translate 'Forum' %}</a>
    </li>
  </ul>
</header>