<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css?v=2">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js?v=2"></script>
<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
{% load static pagination urls %}
<link rel="icon" type="image/x-icon" href="{% static 'forum-favicon.png' %}">

{% include 'partials/forum_navbar.html' %}

{% block head %}
  <link type="text/css" href="{% static 'forum_base.css' %}" rel="stylesheet">
  <head>
    <meta charset="UTF-8">
    <title>MathLab | Форум</title>
  </head>
{% endblock %}

{% block body %}
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  <div class="block-body">
  {{ posts|length }}
    <h1 style="text-align: center;" class="display-4">Останні запитання</h1>
    {% if user.is_authenticated %}
      <a type="submit" style="margin-bottom: 25px;" href="{% url 'forum:q-creation' %}"
         class="btn btn-outline-dark">Задати своє питання</a>
    {% else %}
      <a type="submit" style="margin-bottom: 25px;" href="{% url 'login_view' %}" class="btn btn-outline-dark">Задати
        своє питання</a>
    {% endif %}
    <div class="btn-group dropend" style="transform: translateY(-12px);">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">
        Категорія
      </button>
      <ul class="dropdown-menu">
        {% for category in categories %}
          <li><a class="dropdown-item"
                 href="{% url 'forum:base' %}?sort={{ order_by }}&page={{ page }}&tags={{ category|index:1 }}">{{ category|index:1 }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

  </div>
  </body>
  
  <div>
    <div class="sort-by">
      <a style="margin-bottom: 5px; font-size: 13px;"><span>Сортувати за:</span></a>
      <a href="{% url 'forum:base' %}?sort=popular&page={{ page }}"
         class="btn btn-outline-dark a">Найпопулярніші</a>
      <a href="{% url 'forum:base' %}?sort=interest&page={{ page }}"
         class="btn btn-outline-dark a">Найцікавіші</a>
      <a href="{% url 'forum:base' %}?sort=newest&page={{ page }}" class="btn btn-outline-dark a">Найновіші</a>
      <a href="{% url 'forum:base' %}?sort=last-week&page={{ page }}" class="btn btn-outline-dark a">На тому
        тижні</a>
    </div>
    <div class="base-content">
      <div style="border-top: 1px solid #858383;"></div>
      {% for post in posts %}
        <div style="text-align: left;">
          <div class="question">
            <div style="transform: translateX(130px);">
              <div class="base-title-info">
                <a href="{% url 'forum:q' q_id=post.id title=post.title|hyphens_add %}"
                   class="title">{{ post.title }}</a>
                <div class="watch">
                  <span class="a-base">{{ post.likes }} вподобань</span>
                  <span class="a-base">{{ post.comments_quantity }} коментарів</span>
                </div>
              </div>
              <div style="margin-top: 10px;" class="description">
                <div class="some">
                  <div class="topics">
                    {% for category in post.get_foo_categories %}
                      <a href="{% url 'forum:base' %}?sort={{ order_by }}&page={{ page }}&tags={{ category }}"
                         class="a-topic">{{ category }}</a>
                    {% endfor %}
                  </div>
                  <div style="transform: translateX(-100px); font-size: 14px;">
                    <span><a style="text-decoration: none; margin-bottom: 15px;" href="{% url 'forum:profile' user_id=post.user.id username=post.user.username %}">{{ post.user.username }}
                    </a> <time>запитав {{ post.created_at|timesince }} тому</time></span>
                    {% if post.user.id == user.id %}
                      <button 
                          style="margin-bottom: 10px;" 
                          type="submit" 
                          class="btn btn-danger btn-sm"
                          hx-delete="{% url 'forum:question-delete' post.pk %}"
                          hx-target=".question" 
                          hx-swap="outerHTML"
                          hx-confirm="Are you sure?"
                      >
                        Видалити пост
                      </button>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="border-top: 1px solid #858383;"></div>
      {% endfor %}
      <div style="text-align: center; margin-top: 30px; margin-bottom: -15px;">
        {% if page > 1 %}
          <a type="submit" href="{{ url }}{{ page|add:'-1' }}" class="btn btn-dark btn-sm">Назад</a>
        {% endif %}
        {% if posts|length >= 10 %}
          <a type="submit" href="{{ url }}{{ page|add:'1' }}" class="btn btn-dark btn-sm">Далі</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock body %}

{% block footer %}
  <div class="container" style="padding: 25px;">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-1 my-4 border-top">
      <p class="col-md-4 mb-0 text-muted">© Made by StanislavJPG</p>
      <a href="{% url 'forum:base' %}"
         class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg width="40" height="32">
          <use xlink:href="#home"></use>
        </svg>
        <img src="{% static 'forum-logo.png' %}" class="d-inline-block align-top" width="110" height="55" alt="">
      </a>
  
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="https://linkedin.com/in/stanislav-ruban-a77305278" target="_blank"
                                class="nav-link px-2 text-muted">
          <img width="34" height="33" src="{% static 'linkedin.png' %}"></a></li>
        <li class="nav-item"><a href="https://github.com/StanislavJPG/" target="_blank"
                                class="nav-link px-2 text-muted">
          <img width="34" height="33" src="{% static 'github-mark.png' %}"></a></li>
      </ul>
  
    </footer>
  </div>
{% endblock footer %}

{% block page_css %}
{% endblock page_css %}

</html>