{% extends 'forum/forum_base_page.html' %}

{% block head %}
{% load static %}
<title xmlns="http://www.w3.org/1999/html">Мій профіль</title>
{% endblock %}

{% block body %}
<body>
    <div class="block-body">
        <h1 style="text-align: center;" class="display-5">Мій профіль</h1>
    </div>
</body>
{% endblock %}

{% block content %}
    <section style="background-color: #eee;">
  <div class="container py-5">
    <div style="display: flex; flex-wrap: wrap; flex-direction: column; align-items: center;" class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <label style="cursor: pointer;" for="image">
                {% if profile_image is none %}
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                     alt="avatar" class="rounded-circle img-fluid" style="width: 150px; height: 150px;">
                {% else %}
                <img src="{% static profile_image %}" alt="avatar"
                  class="rounded-circle img-fluid" style="width: 150px; height: 150px;">
                {% endif %}
              </label>
              <p>
                <input type="file" id="image" name="image" style="display: none;">
                <button class="btn btn-primary" type="submit">Змінити фото</button>
              </p>
            </form>
            <h5 class="my-3">{{ user_content.username }}</h5>
            <div style="margin-bottom: 1rem !important;">
              <p class="text-muted mb-1"><b>{{ user_content.rank }}</b></p>
            </div>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary">Follow</button>
              <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary ms-1">Message</button>
            </div>
          </div>
        </div>
      </div>
    <div class="col-lg-8">
      <div class="card mb-4">
        <div class="card-body" style="text-align: center;">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Нікнейм</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ user_content.username }}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Пошта</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ user_content.email }}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Бали</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ user_content.score }}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Звання</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ user_content.rank }}</p>
            </div>
          </div>
        </div>
      </div>
        <div class="col-md-6" style="width: 100%;">
          <div class="card mb-4 mb-md-0">
            <div class="card-body">
              <p class="mb-4" style="text-align: center;"><b>Останні дії</b>
              </p>
              {% for action in all_actions %}
              {% if action.comm_id is none %}
              Створив Пост
              {% else %}
              Написав коментарій
              {% endif %}
              <a class="mt-4 mb-1" href="{% url 'forum-q' q_id=action.id title=action.title %}" style="font-size: 19px;">{{ action.title }}</a>
              об {{ action.created_at }}
              <p>
              {% for category in action.categories %}
              <a>{{ category }}</a> |
              {% endfor %}
              </p>
              {% if action.comm_id is none %}
              <form style="margin-top:10px;" method="post" action="{% url 'forum-base' %}">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{ action.id }}">
                <button type="submit" class="btn btn-danger btn-sm">Видалити пост</button>
                {% else %}
                <form style="margin-top:10px;" method="post" action="{% url 'forum-q-comm-delete' q_id=action.post title=action.title c_id=action.id %}">
                  {% csrf_token %}
                  <input type="hidden" name="post_id" value="{{ action.id }}">
                  <button type="submit" class="btn btn-danger btn-sm">Видалити коментар</button>
                {% endif %}
              </form>
              <div style="border-top: 1px solid #858383;width: 820px;margin: auto;margin-top: 10px;" ></div>
              <div class="progress-bar" role="progressbar" style="width: 72%; margin-bottom: 15px;" aria-valuenow="72"
                  aria-valuemin="0" aria-valuemax="100"></div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}

