{% load static i18n widget_tweaks widened_widget_tweaks text avatars %}

<div id="{{ htmx_target_block }}"
     hx-get="{{ request.get_full_path }}"
     hx-trigger="notificationChanged from:body delay:0.6s">
  {% if notifications %}
    {% if 'deleted' in htmx_target_block %}
      <p class="text-secondary text-center fw-light">{% translate 'All deleted notifications will be cleared in 3 days.' %}</p>
    {% endif %}
    {% for notification in notifications %}
      <div class="media text-muted pt-3 m-4 mt-3 mb-3 rounded {% if notification.deleted %}bg-danger-subtle{% elif notification.unread %}bg-info-subtle{% elif not notification.read %}bg-success-subtle{% endif %}" id="noti-{{ notification.uuid }}">
        {% icon_for_contenttype_model notification.target_content_type add_class="m-1 me-2" style="font-size: 35px;" %}
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <a class="text-decoration-none link-secondary" href="{{ notification.action_url }}">
            {{ notification.notification_label_as_html_tag }}
          </a>
          <div class="mt-1 d-flex justify-content-between align-items-center flex-column flex-sm-row">
            <small>
              - <a class="text-decoration-none"
                   href="{{ post.theorist.get_absolute_url }}">
                {{ post.theorist.full_name }}
              </a>
              <time>{{ notification.timestamp|timesince }} {% translate 'ago' %}</time>
            </small>
          </div>
        </div>
        {% if not notification.deleted and notification.unread %}
          <a id="noti-read-js"
             href="javascript:(0);"
             class="text-decoration-none me-2"
             style="font-size: 25px;"
             title="{% translate 'Mark notification as read?' %}"
             hx-swap="innerHTML swap:0.5s"
             hx-target="#noti-{{ notification.uuid }}"
             hx-post="{% url 'forum:theorist_notifications:mark-read' notification.uuid %}"
             hx-confirm="{% translate 'Mark notification as read?' %}"
          >
            <i class="text-success ti ti-check"></i>
          </a>
        {% endif %}
        {% if not notification.deleted %}
          <a id="noti-safe-delete-js"
             href="javascript:(0);"
             class="text-decoration-none me-2"
             style="font-size: 25px;"
             title="{% translate 'Delete notification?' %}"
             hx-swap="innerHTML swap:0.5s"
             hx-target="#noti-{{ notification.uuid }}"
             hx-post="{% url 'forum:theorist_notifications:safe-delete' notification.uuid %}"
             hx-confirm="{% translate 'Delete notification?' %}"
          >
            <i class="text-secondary ti ti-x"></i>
          </a>
        {% endif %}
      </div>
    {% endfor %}
    <small class="d-block text-right mt-4">
      {% include 'common/pagination.html' with htmx_target=htmx_target_block is_id_target=True %}
    </small>
  {% else %}
    <div class="mt-5">
      {% translate 'Empty notifications list' as msg %}
      {% include 'alerts/empty_alert.html' with msg=msg %}
    </div>
  {% endif %}
</div>

<script>
  $(document).ready(function () {
    $('.selectpicker').selectpicker();
  });
</script>
<script src="{% static 'js/offcanvas.js' %}"></script>