{% extends "base/mathlab_base.html" %}
{% load static %}

{% block page_head %}
  <link type="text/css" href="{% static 'css/solvexample.css' %}" rel="stylesheet">
  <title>MathLab | Операції з Матрицями</title>
{% endblock page_head %}

{% block body %}
  <div class="container mt-5">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active"
               data-bs-toggle="tab"
               data-bs-target="#equations"
               data-toggle="pill"
               aria-current="page"
               hx-get="{% url 'mathlab:equations' %}"
               hx-target="#equations"
               hx-trigger="load once, click once"
               href="javascript:(0);">Вирази з невідомими аргументами</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               data-bs-toggle="tab"
               data-bs-target="#percents"
               data-toggle="pill"
               hx-get="{% url 'mathlab:percents' %}"
               hx-target="#percents"
               hx-trigger="click once"
               href="javascript:(0);">Знайти відсоток</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               data-bs-toggle="tab"
               data-bs-target="#matrix"
               data-toggle="pill"
               aria-current="page"
               hx-get="{% url 'mathlab:matrices' %}"
               hx-target="#matrix"
               hx-trigger="click once"
               href="javascript:(0);">Операції з матрицями</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card-body text-center tab-content">
    <div class="tab-pane fade show active" id="equations" role="tabpanel" aria-labelledby="pills-about-me-tab"></div>
    <div class="tab-pane fade" id="percents" role="tabpanel" aria-labelledby="pills-statics-tab"></div>
    <div class="tab-pane fade" id="matrix" role="tabpanel" aria-labelledby="pills-contact-tab"></div>
  </div>
{% endblock body %}


{% block page_js %}
  <script src="{% static 'js/solvexample.js' %}"></script>
{% endblock page_js %}
