{% extends 'base/forum_base.html' %}
{% load i18n static %}

{% block page_head %}
  <title>Mathlab | {% translate 'Mailbox' %}</title>
{% endblock page_head %}

{% block body %}
  <section id="chat-section-js" data-request-theorist="{{ request.theorist.uuid }}">
    <div class="container py-5">
      <div class="row" id="hx-mailbox-list-js" hx-get="{% url 'forum:theorist_chat:hx-mailbox-list' %}?show_blocked_chats=false&next_uuid={{ request.GET.next_uuid }}&page={{ page }}" hx-target="this" hx-trigger="load, friendshipBlockChanged from:body">
        <div class="text-center d-flex align-items-center flex-column">
          <div id="mailbox-list-block-wait-spinner" style="width: 2rem; height: 2rem;" class="spinner-grow text-primary mt-2" role="status"></div>
          <small class="text-muted" style="font-size: 13px">{% translate 'Loading...' %}</small>
        </div>
      </div>
    </div>
  </section>

  <div class="modal fade"
       id="chat-create-modal"
       tabindex="-1"
       aria-hidden="true"
       hx-target="this"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document"></div>
  </div>
{% endblock body %}
