{% load i18n static widget_tweaks %}

<link type="text/css" href="{% static 'css/features/green_audio_player.css' %}" rel="stylesheet">
<link type="text/css" href="{% static 'css/features/breathing_button.css' %}" rel="stylesheet">

<script src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'js/init_tinymce.js' %}"></script>
<script src="{% static 'js/eqneditor.js' %}"></script>

<div class="d-flex flex-row align-items-center justify-content-between">
  <div class="d-flex flex-row align-items-center">
    <a class="text-decoration-none" href="{{ receiver.get_absolute_url }}" target="_blank">
      <img src="{{ receiver.get_current_avatar }}" alt="avatar"
           style="object-fit: cover;"
           class="rounded-circle d-flex align-self-center me-2 shadow-1-strong" height="60" width="60">
    </a>
    <div>
      <a class="text-decoration-none" href="{{ receiver.get_absolute_url }}" target="_blank">
        <p class="fw-bold mb-0">{{ receiver.full_name }}</p>
      </a>
      <small><i class="ti ti-clock"></i> {{ receiver.convenient_last_activity }}</small>
    </div>
  </div>
  <div>
    <div class="dropdown">
      <i data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer; font-size: 25px;"
         class="ti ti-dots-vertical z-999"></i>
      <ul class="dropdown-menu">
        {% if is_request_theorist_blocked_recipient %}
          <li><a class="dropdown-item text-success"
                 data-toast-trigger
                 href="javascript:(0);"
                 hx-post="{% url 'forum:theorist_profile:friendship:theorist-blacklist-unblock' request.theorist.blacklist.uuid receiver.uuid %}"
                 hx-confirm="{% blocktranslate trimmed with name=receiver.full_name %}Are you sure you want to remove {{ name }} from your blacklist?{% endblocktranslate %}"
                 hx-trigger="click"
            ><i class="ti ti-user-check"></i> {% blocktranslate trimmed with name=receiver.full_name %}Unblock
              <strong>{{ name }}</strong>{% endblocktranslate %}</a>
          </li>
          <li class="dropdown-divider"></li>
        {% else %}
          <li><a class="dropdown-item text-danger"
                 data-toast-trigger
                 href="javascript:(0);"
                 hx-post="{% url 'forum:theorist_profile:friendship:theorist-blacklist-block' request.theorist.blacklist.uuid receiver.uuid %}"
                 hx-confirm="{% blocktranslate trimmed with name=receiver.full_name %}Are you sure you want to add {{ name }} to your blacklist?{% endblocktranslate %}"
                 hx-trigger="click"
            ><i class="ti ti-user-cancel"></i> {% blocktranslate trimmed with name=receiver.full_name %}Block
              <strong>{{ name }}</strong>{% endblocktranslate %}</a>
          </li>
        {% endif %}
        <li><a class="dropdown-item text-danger"
               href="javascript:(0);"
               data-toast-trigger
               hx-delete="{% url 'forum:theorist_chat:mailbox-delete' room_uuid %}"
               hx-confirm="{% blocktranslate trimmed with name=receiver.full_name %}Are you sure you want to delete this chat with {{ name }}? This cannot be undone.{% endblocktranslate %}"
               hx-trigger="click"
          ><i class="ti ti-trash"></i> {% translate 'Delete chat' %}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<hr class="mb-4">

<div class="d-flex flex-column" style="height: 88% !important;">

  <button id="scroll-bottom-btn" class="btn btn-outline-info btn-sm mb-3 d-none" onclick="scrollBottom()"><i
    class="ti ti-arrow-down"></i></button>

  <ul class="list-unstyled overflow-auto flex-grow-1 d-flex flex-column-reverse" style="max-height: 600px;"
      id="msg-list-js-{{ view.kwargs.room_uuid }}" data-room-uuid="{{ view.kwargs.room_uuid }}">
    {% if messages.exists %}
      <div id="paginated-msg-list-js">
        {% if page_obj.has_previous %}
          <div _="on htmx:afterOnLoad from body add .d-none"
               class="text-center d-flex align-items-center flex-column mb-3">
            <div style="width: 2rem; height: 2rem;" class="spinner-grow text-primary mt-2"
                 role="status"></div>
            <small class="text-muted" style="font-size: 13px">{% translate 'Loading...' %}</small>
          </div>
        {% endif %}
        {% for message in messages %}
          {% if forloop.first and page_obj.number > 1 %}
            <div _="on intersection(intersecting) having threshold 0.5
                    if intersecting
                    remove .d-none from #scroll-bottom-btn
                   "
            ></div>
          {% endif %}
          {% if forloop.last and not page_obj.has_next %}
            <div _="on intersection(intersecting) having threshold 0.5
                    if intersecting
                    add .d-none to #scroll-bottom-btn
                   "
            ></div>
          {% endif %}
          <li class="d-flex justify-content-between mb-4"
              {% if page_obj.number > 1 and forloop.first %}
                data-toast-trigger
                hx-trigger="intersect once"
                hx-get="{{ request.path }}?page={{ page_obj.number|add:-1 }}"
                hx-target="#paginated-msg-list-js"
                hx-select="#paginated-msg-list-js"
                hx-swap="afterbegin"
              {% endif %}
          >
            {% if message.sender.uuid != request.theorist.uuid %}
              <a href="{{ message.sender.get_absolute_url }}" target="_blank">
                <img alt="avatar" id="msg-avatar-{{ message.sender.uuid }}"
                     src="{{ message.sender.get_current_avatar }}"
                     style="object-fit: cover;"
                     class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" height="60" width="60">
              </a>
              {% if not message.replied_to %}
                <div class="card w-100">
                  <div class="card-header d-flex justify-content-between p-3">
                    <p class="fw-bold mb-0">{{ message.sender.full_name }}</p>
                    <div class="mb-0 d-flex flex-row">
                      <span class="text-muted small"><i class="far fa-clock"></i> {{ message.created_at }}</span>
                      {% include 'partials/partials/message_action_block.html' %}
                    </div>
                  </div>
                  <div
                    class="card-body {% if message.audio_message %}d-flex{% endif %} {% if message.is_safe_deleted %}bg-warning-subtle{% endif %}">
                    <p class="mb-0">
                      {% if not message.is_safe_deleted %}
                        {% if message.audio_message %}
                          <div class="card-body voice-gap voice-gap-{{ message.uuid }}"
                               data-voice-uuid="{{ message.uuid }}">
                            <audio crossorigin>
                              <source src="{{ message.audio_message.url }}" type="audio/wav">
                            </audio>
                          </div>
                        {% else %}
                          {{ message.message }}
                        {% endif %}
                      {% else %}
                        <span class="text-muted fst-italic">{% translate 'This message was removed.' %}</span>
                      {% endif %}
                    </p>
                  </div>
                </div>
              {% else %}
                <div class="card w-100">
                  {% if not message.is_safe_deleted %}
                    <div class="card-body d-flex flex-column">
                      <div class="mb-0 d-flex flex-row justify-content-between mt-1 mb-3">
                        <p class="fw-bold mb-0"><i class="ti ti-corner-left-down"></i> {{ message.sender.full_name }}
                        </p>
                        <div class="d-flex">
                          <span class="text-muted small"><i class="far fa-clock"></i> {{ message.created_at }}</span>
                          {% include 'partials/partials/message_action_block.html' %}
                        </div>
                      </div>
                      <div class="d-flex align-items-center">
                        <div class="card w-100 border-end-0 border-top-0 border-bottom-0" style="border: 0.5rem solid;">
                          <div class="card-header d-flex justify-content-between p-3">
                            <p class="fw-bold mb-0">{{ message.replied_to.sender.full_name }}</p>
                          </div>
                          <div class="card-body border border-top-0 rounded-end"
                               style="border-top-right-radius: 0 !important;">
                            {% if not message.replied_to.is_safe_deleted %}
                              {% if message.replied_to.audio_message %}
                                <div class="card-body voice-gap voice-gap-{{ message.replied_to.uuid }}"
                                     data-voice-uuid="{{ message.replied_to.uuid }}">
                                  <audio crossorigin>
                                    <source src="{{ message.replied_to.audio_message.url }}" type="audio/wav">
                                  </audio>
                                </div>
                              {% else %}
                                {{ message.replied_to.message }}
                              {% endif %}
                            {% else %}
                              <span class="text-muted fst-italic">{% translate 'This message was removed.' %}</span>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <p class="mb-0">
                          {{ message.message }}
                        </p>
                      </div>
                    </div>
                  {% else %}
                    <div class="card-header d-flex justify-content-between p-3">
                      <p class="fw-bold mb-0">{{ message.sender.full_name }}</p>
                      <div class="mb-0 d-flex flex-row">
                        <span class="text-muted small"><i class="far fa-clock"></i> {{ message.created_at }}</span>
                        {% include 'partials/partials/message_action_block.html' %}
                      </div>
                    </div>
                    <div class="card-body bg-warning-subtle">
                      <p class="mb-0">
                        <span class="text-muted fst-italic">{% translate 'This message was removed.' %}</span>
                      </p>
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            {% else %}
              {% if not message.replied_to %}
                <div class="card w-100">
                  <div class="card-header d-flex justify-content-between p-3">
                    <p class="fw-bold mb-0">{{ message.sender.full_name }}</p>
                    <div class="mb-0 d-flex flex-row">
                      <span class="text-muted small"><i class="far fa-clock"></i> {{ message.created_at }}</span>
                      {% include 'partials/partials/message_action_block.html' %}
                    </div>
                  </div>
                  <div
                    class="card-body {% if message.audio_message %}d-flex{% endif %} {% if message.is_safe_deleted %}bg-warning-subtle{% endif %}">
                    <p class="mb-0">
                      {% if not message.is_safe_deleted %}
                        {% if message.audio_message %}
                          <div class="card-body voice-gap voice-gap-{{ message.uuid }}"
                               data-voice-uuid="{{ message.uuid }}">
                            <audio crossorigin>
                              <source src="{{ message.audio_message.url }}" type="audio/wav">
                            </audio>
                          </div>
                        {% else %}
                          {{ message.message }}
                        {% endif %}
                      {% else %}
                        <span class="text-muted fst-italic">{% translate 'This message was removed.' %}</span>
                      {% endif %}
                    </p>
                  </div>
                  <div
                    class="d-flex justify-content-end p-2 pt-0 {% if message.is_safe_deleted %}bg-warning-subtle{% endif %}">
                    <i class="ti ti-{% if message.is_read %}checks{% else %}check{% endif %}"
                       title="{% if message.is_read %}{% translate 'Seen' %}{% else %}{% translate 'Sent' %}{% endif %}"
                    ></i>
                  </div>
                </div>
              {% else %}
                <div class="card w-100">
                  {% if not message.is_safe_deleted %}
                    <div class="card-body d-flex flex-column">
                      <div class="mb-0 d-flex flex-row justify-content-between mt-1 mb-3">
                        <p class="fw-bold mb-0"><i class="ti ti-corner-left-down"></i> {{ message.sender.full_name }}
                        </p>
                        <div class="d-flex">
                          <span class="text-muted small"><i class="far fa-clock"></i> {{ message.created_at }}</span>
                          {% include 'partials/partials/message_action_block.html' %}
                        </div>
                      </div>
                      <div class="d-flex align-items-center">
                        <div class="card w-100 border-end-0 border-top-0 border-bottom-0" style="border: 0.5rem solid;">
                          <div class="card-header d-flex justify-content-between p-3">
                            <p class="fw-bold mb-0">{{ message.replied_to.sender.full_name }}</p>
                          </div>
                          <div class="card-body border border-top-0 rounded-end"
                               style="border-top-right-radius: 0 !important;">
                            {% if not message.replied_to.is_safe_deleted %}
                              {% if message.replied_to.audio_message %}
                                <div class="card-body voice-gap voice-gap-{{ message.replied_to.uuid }}"
                                     data-voice-uuid="{{ message.replied_to.uuid }}">
                                  <audio crossorigin>
                                    <source src="{{ message.replied_to.audio_message.url }}" type="audio/wav">
                                  </audio>
                                </div>
                              {% else %}
                                {{ message.replied_to.message }}
                              {% endif %}
                            {% else %}
                              <span class="text-muted fst-italic">{% translate 'This message was removed.' %}</span>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <p class="mb-0">
                          {{ message.message }}
                        </p>
                      </div>
                    </div>
                  {% else %}
                    <div class="card-header d-flex justify-content-between p-3">
                      <p class="fw-bold mb-0">{{ message.sender.full_name }}</p>
                      <div class="mb-0 d-flex flex-row">
                        <span class="text-muted small"><i class="far fa-clock"></i> {{ message.created_at }}</span>
                        {% include 'partials/partials/message_action_block.html' %}
                      </div>
                    </div>
                    <div class="card-body bg-warning-subtle">
                      <p class="mb-0">
                        <span class="text-muted fst-italic">{% translate 'This message was removed.' %}</span>
                      </p>
                    </div>
                  {% endif %}
                </div>
              {% endif %}
              <a href="{{ message.sender.get_absolute_url }}" target="_blank">
                <img alt="avatar" id="msg-avatar-{{ message.sender.uuid }}"
                     src="{{ message.sender.get_current_avatar }}"
                     style="object-fit: cover;"
                     class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" height="60" width="60">
              </a>
            {% endif %}
          </li>
        {% endfor %}
      </div>
    {% else %}
      {% include 'partials/alerts/empty_chat_alert.html' %}
    {% endif %}
    {{ room_uuid|json_script:"room-uuid" }}
  </ul>
  <div class="mb-2 position-sticky">
    <div class="form-outline">
      <form id="msg-form">
        {% if is_blocked_by_first_member or is_blocked_by_second_member %}
          <textarea class="form-control text-danger" id="chat-message-input" rows="4"
                    style="cursor: not-allowed; white-space: normal;"
                    disabled>{% if is_request_theorist_blocked_recipient %}
            {% translate 'This chat is unavailable because you have blocked this theorist.' %}{% else %}
            {% translate 'This chat is unavailable because this theorist has blocked you.' %}😢{% endif %}</textarea>
          <label class="form-label text-muted" for="chat-message-input">{% translate 'Your message' %}</label>
          <button type="button"
                  data-toast-trigger
                  hx-get="{% url 'forum:theorist_chat:invalid-chat-message-create' %}"
                  hx-trigger="click"
                  hx-swap="none"
                  _="on click call document.getElementById('msg-form').reset()"
                  class="btn btn-primary btn-rounded float-end mt-2 disabled">
            <i class="ti ti-send"></i>
            {% translate 'Send' %}
          </button>
        {% else %}

          <div id="message-reply-block" hx-target="this"></div>

          {% render_field message_as_form.message id="chat-message-input" %}
          <label class="form-label text-muted" for="chat-message-submit">{% translate 'Your message' %}</label>
          <div class="btn-group mt-2 float-end" role="group">
            <button id="chat-message-submit"
                    type="button"
                    data-toast-trigger
                    hx-get="{% url 'forum:theorist_chat:hx-mailbox' view.kwargs.room_uuid %}?show_blocked_chats=false"
                    hx-target="#mailboxes-list-js"
                    hx-trigger="click from:#chat-message-submit delay:0.5s"
                    _="on click call document.getElementById('msg-form').reset()"
                    class="btn btn-primary">
              <i class="ti ti-send"></i>
              {% translate 'Send' %}
            </button>
            <button type="button" title="{% translate 'Record voice message' %}" _="on click remove .d-none from #stop-rec then add .d-none"
                    class="btn btn-outline-primary rounded-end" id="start-rec">
              <i class="ti ti-microphone"></i>
            </button>
            <button type="button" title="{% translate 'Stop recording' %}" class="breathing-button btn btn-danger d-none"
                    _="on click add .d-none then remove .d-none from #start-rec" id="stop-rec">
              <i class="ti ti-player-stop-filled"></i>
            </button>
          </div>
        {% endif %}
      </form>
    </div>
  </div>
</div>

<script>
  function scrollBottom() {
    const ul = document.querySelector('[id^="msg-list-js-"]');
    ul.scrollTo({'top': ul.scrollHeight, 'behavior': 'smooth'});
  }
</script>

<script>
  function prepareAudioBlock(selector = '.voice-gap', greenAudioSelectorPrefix = '.voice-gap-') {
    document.querySelectorAll(selector).forEach(el => {
      if (!el.classList.contains('green-audio-player')) {
        console.log(`${greenAudioSelectorPrefix}${el.dataset.voiceUuid}`);
        GreenAudioPlayer.init({
          selector: `${greenAudioSelectorPrefix}${el.dataset.voiceUuid}`,
          stopOthersOnPlay: true,
          showTooltips: true,
        });
      }
    });
  }
</script>

<script>
  var roomUUID = JSON.parse(document.getElementById('room-uuid').textContent);

  window.chatSockets = window.chatSockets || {};

  if (roomUUID && !window.chatSockets[roomUUID]) {
    const isDevelopment = ['localhost', '127.0.0.1', '192.168.0.110'].includes(window.location.hostname);
    const protocol = isDevelopment ? 'ws://' : 'wss://';

    const chatSocket = new WebSocket(
      protocol + window.location.hostname + (isDevelopment ? ':8099' : '') + '/ws/chat/' + roomUUID + '/'
    );

    window.chatSockets[roomUUID] = chatSocket;

    chatSocket.onmessage = function (e) {
      const data = JSON.parse(e.data);
      if (data.room_uuid !== roomUUID) return;

      const emptyLabel = document.getElementById('empty-label-js');
      if (emptyLabel) emptyLabel.remove();

      const messagesList = document.getElementById('msg-list-js-' + roomUUID);
      const newMessageItem = document.createElement('li');
      newMessageItem.classList.add('d-flex', 'justify-content-between', 'mb-4');

      const messageTemplate = (data, isSender) => {
        const cardBody = `card-body ${data.is_voice ? 'd-flex' : ''}`
        return `
        ${!isSender ? `<a href="${data.theorist_profile_url}" target="_blank"><img alt="avatar" style="object-fit: cover;" src="${data.theorist_avatar_url}" class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60" height="60"></a>` : ''}
        <div class="card w-100">
            ${data.replied_to ? `
        <div class="card-body d-flex flex-column">
        <div class="mb-0 d-flex flex-row justify-content-between mt-1 mb-3">
        <p class="fw-bold mb-0"><i class="ti ti-corner-left-down"></i> ${data.theorist_full_name}</p>
        <div class="d-flex">
        <span class="text-muted small"><i class="far fa-clock"></i>${data.current_time}</span>
        <div class="dropdown ms-1">
        <i data-bs-toggle="dropdown" aria-expanded="false" class="ti ti-dots-vertical text-muted"
        style="cursor: pointer; font-size: 19px;"></i>
        <ul class="dropdown-menu">
        ${isSender ? data.theorist_html_actions : data.for_received_theorist_html_actions}
        </ul>
        </div>
        </div>
        </div>
        <div class="d-flex align-items-center">
        <div class="card w-100 border-end-0 border-top-0 border-bottom-0" style="border: 0.5rem solid;">
        <div class="card-header d-flex justify-content-between p-3">
        <p class="fw-bold mb-0 small">${data.replied_to.sender_full_name}</p>
        </div>
        <div class="card-body border border-top-0 rounded-end" style="border-top-right-radius: 0 !important;">
        ${!data.replied_to.is_voice ? data.replied_to.message : data.replied_to.voice_html_block}
        </div>
        </div>
        </div>
        <div class="card-body p-2">
        <p class="mb-0">${!data.is_voice ? data.message : data.voice_html_block}</p>
        </div>
        </div>
        ` : `
        <div class="card-header d-flex justify-content-between p-3">
        <p class="fw-bold mb-0">${data.theorist_full_name}</p>
        <div class="mb-0 d-flex flex-row">
        <span class="text-muted small"><i class="far fa-clock"></i> ${data.current_time}</span>
        <div class="dropdown ms-1">
        <i data-bs-toggle="dropdown" aria-expanded="false" class="ti ti-dots-vertical text-muted"
        style="cursor: pointer; font-size: 19px;"></i>
        <ul class="dropdown-menu">
        ${isSender ? data.theorist_html_actions : data.for_received_theorist_html_actions}
        </ul>
        </div>
        </div>
        </div>
        <div class="${cardBody}">
        <p class="mb-0">${!data.is_voice ? data.message : data.voice_html_block}</p>
        </div>
        `}
        <div class="d-flex justify-content-end p-2">
          <i class="ti ti-check"></i>
        </div>
        </div>
        ${isSender ? `<a href="${data.theorist_profile_url}" target="_blank"><img alt="avatar" style="object-fit: cover;" src="${data.theorist_avatar_url}" class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60" height="60"></a>` : ''}
        `;
      };

      var requestTheorist = document.getElementById('chat-section-js').getAttribute('data-request-theorist')
      newMessageItem.innerHTML = messageTemplate(data, requestTheorist === data.theorist_uuid);
      messagesList.prepend(newMessageItem);
      htmx.process(newMessageItem);
      prepareAudioBlock('.voice-gap', `.voice-gap-${data.msg_uuid}`);
      prepareAudioBlock('.voice-gap', `.voice-gap-${data.reply_message_uuid}`);
      messagesList.scrollTop = messagesList.scrollHeight;
    }

    chatSocket.onclose = function () {
      console.error('Chat socket closed unexpectedly');
    };

    const messageInput = document.querySelector('#chat-message-input');
    const submitButton = document.querySelector('#chat-message-submit');

    messageInput.focus();
    messageInput.onkeyup = function (e) {
      if (e.key === 'Enter') submitButton.click();
    };

    document.body.addEventListener('htmx:afterSwap', function (event) {
      const input = document.querySelector('#chat-message-input');
      const submit = document.querySelector('#chat-message-submit');

      if (input && submit) {
        input.onkeyup = function (e) {
          if (e.key === 'Enter') submit.click();
        };

        submit.onclick = function () {
          const message = input.value;
          const replyUUID = submit.getAttribute('data-reply-attr-uuid');
          window.chatSockets[roomUUID].send(JSON.stringify({
            message: message,
            reply_message_uuid: replyUUID,
          }));
          input.value = '';
          submit.removeAttribute('data-reply-attr-uuid');
          if (document.getElementById('message-reply-block-js')) {
            document.getElementById('message-reply-block-js').classList.add('d-none');
          }
        };
      }
    });

  }
</script>

<script>
  document.addEventListener('htmx:afterSettle', function () {
    let mediaRecorder;
    let stream;

    document.getElementById('start-rec').onclick = async () => {
      stream = await navigator.mediaDevices.getUserMedia({audio: true});
      mediaRecorder = new MediaRecorder(stream);
      mediaRecorder.start();

      document.getElementById('start-rec').disabled = true;
      document.getElementById('stop-rec').disabled = false;

      mediaRecorder.ondataavailable = (e) => {
        const socket = window.chatSockets[roomUUID];
        if (socket && socket.readyState === WebSocket.OPEN) {
          socket.send(e.data);
        }
      };
    };

    document.getElementById('stop-rec').onclick = () => {
      if (mediaRecorder && mediaRecorder.state !== 'inactive') {
        mediaRecorder.stop();
        stream.getTracks()
          .forEach( track => track.stop() )
      }
      document.getElementById('start-rec').disabled = false;
      document.getElementById('stop-rec').disabled = true;
    };
  });

  document.addEventListener('htmx:afterSettle', () => {
    prepareAudioBlock();
  });
</script>
