{% load static i18n avatars widget_tweaks widened_notifications_tags text urls %}

<style>
/* http://stackoverflow.com/questions/6410730/webkit-css-endless-rotation-animation-how */
  @-webkit-keyframes rotating {
    from{
      -webkit-transform: rotate(0deg);
    }
    to{
      -webkit-transform: rotate(360deg);
    }
  }

  .rotating {
    -webkit-animation: rotating 2s linear infinite;
  }
</style>

<div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">
  <div class="d-flex mb-3 text-center text-lg-start align-items-center justify-content-between">
    <h5 class="font-weight-bold"><i class="ti ti-mailbox"></i>
      {% translate 'Mailbox' %}
    </h5>
    <div class="d-flex">
      <button class="btn btn-warning me-2"
              hx-get="{% url 'forum:theorist_chat:hx-mailbox-list' %}?show_blocked_chats=false&next_uuid={{ request.GET.next_uuid }}&page={{ page }}"
              hx-trigger="click"
              hx-targer="#hx-mailbox-list-js"
              _="on click toggle .rotating .rounded-circle on me until htmx:afterOnLoad"
              data-toast-trigger
              title="{% translate 'Update mailbox list' %}"
      >
        <i class="ti ti-rotate-clockwise text-white"></i>
      </button>
      <button class="btn btn-primary"
              hx-get="{% url 'forum:theorist_chat:mailbox-create' %}"
              hx-trigger="click"
              hx-target="#chat-create-modal"
              data-bs-toggle="modal"
              data-bs-target="#chat-create-modal"
      >
        <i class="ti ti-message-plus"></i>
      </button>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <form hx-get="{{ request.path }}"
            data-toast-trigger
            hx-target="#mailboxes-list-js"
            hx-select="#mailboxes-list-js"
            hx-trigger="click from:#{{ filter.form.show_blocked_chats.id_for_label }}, input changed from:#{{ filter.form.username.id_for_label }} delay:0.5s, reset delay:0.5s">
        <div class="d-flex flex-row align-items-center justify-content-between">
          <div class="d-flex flex-column">
            <span class="small text-muted">{% translate 'Last chats' %}:</span>
            <button type="button" id="{{ filter.form.show_blocked_chats.id_for_label }}" name="show_blocked_chats" value="true" class="text-decoration-none btn btn-link p-0">
              <small style="font-size: 12px"><i class="ti ti-eye"></i> {% translate 'Show blocked chats' %}</small>
            </button>
          </div>
          <div class="input-group w-50">
            {% render_field filter.form.username class="form-control" %}
            <button class="btn btn-outline-danger" type="reset">
              <i class="ti ti-xbox-x"></i>
            </button>
          </div>
        </div>
      </form>
      {% block mailbox %}
        <ul class="list-unstyled mb-0 mt-3" id="mailboxes-list-js">
          {% if mailboxes %}
            {% for mailbox in mailboxes %}
              <li class="{% classes_by_lookup_url mailbox 'next_uuid' %} p-2 border {% if mailbox.is_any_of_members_blocked_another %}border-danger{% endif %} {% if mailbox.uuid == room_uuid %}bg-secondary-subtle{% else %}bg-body-tertiary{% endif %} rounded mb-1 mailbox mailbox-{{ mailbox.uuid }}"
                  id="mailbox-{{ mailbox.uuid }}">
                <div hx-get="{% url 'forum:theorist_chat:hx-chat-list' mailbox.uuid %}"
                     id="mailbox-styled-block-{{ mailbox.uuid|stringformat:"s" }}-js"
                     hx-trigger="click"
                     hx-target="#chat-list-js"
                     _="on click remove .bg-secondary-subtle from .mailbox add .bg-secondary-subtle to #mailbox-{{ mailbox.uuid }}"
                     style="cursor: pointer"
                     class="d-flex flex-row justify-content-between text-decoration-none"
                     data-toast-trigger
                >
                  <div class="d-flex flex-row">
                    {% if mailbox.first_member.uuid == request.theorist.uuid %}
                      <img src="{{ mailbox.second_member.get_current_avatar }}" alt="avatar"
                           style="object-fit: cover;"
                           class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" height="60" width="60">
                      <div class="pt-1">
                        <p class="fw-bold mb-0">{{ mailbox.second_member.full_name|truncatechars:15 }}</p>
                        <span class="small text-muted">
                          {% if mailbox.messages.last.is_safe_deleted %}
                            <em>{% translate 'Removed message' %}</em>
                          {% else %}
                            {% if mailbox.messages.last.is_system %}
                              <em>🌟 {% translate 'Shared content...' %}</em>
                            {% else %}
                              {{ mailbox.messages.last.message|truncate_by_rows:3|truncatechars_html:25 }}
                            {% endif %}
                          {% endif %}
                        </span>
                      </div>
                    {% else %}
                      <img src="{{ mailbox.first_member.get_current_avatar }}" alt="avatar"
                           style="object-fit: cover;"
                           class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" height="60" width="60">
                      <div class="pt-1">
                        <p class="fw-bold mb-0">{{ mailbox.first_member.full_name|truncatechars:15 }}</p>
                        <span class="small text-muted">
                          {% if mailbox.messages.last.is_safe_deleted %}
                            <em>{% translate 'Removed message' %}</em>
                          {% else %}
                            {% if mailbox.messages.last.is_system %}
                              <em>🌟 {% translate 'Shared content...' %}</em>
                            {% else %}
                              {{ mailbox.messages.last.message|truncate_by_rows:3|truncatechars_html:25 }}
                            {% endif %}
                          {% endif %}
                        </span>
                      </div>
                    {% endif %}
                  </div>
                  <div class="pt-1">
                    <p class="small text-muted mb-1">
                      {% if mailbox.messages.exists %}
                        {{ mailbox.messages.last.chat_convenient_created_at }}
                      {% endif %}
                    </p>
                    {% if mailbox.is_any_of_members_blocked_another %}
                      <i class="ti ti-ban float-end text-danger"
                         data-bs-toggle="tooltip" data-bs-placement="top"
                         title="{% translate 'Someone of chat members blocked another.' %}"
                      ></i>
                    {% endif %}
                    {% unread_messages_counter mailbox as_html=True %}
                  </div>
                </div>
              </li>
            {% endfor %}
          {% else %}
            {% translate 'Not found any mailboxes' as msg %}
            <div class="mt-5">
              {% include 'alerts/not_found_alert.html' with msg=msg %}
            </div>
          {% endif %}
          <div class="mt-3">
            {% include 'common/pagination.html' with htmx_target='#mailboxes-list-js' %}
          </div>
        </ul>
      {% endblock mailbox %}
    </div>
  </div>
</div>

<div id="chat-list-js" class="col-md-6 col-lg-7 col-xl-8 bg-body-tertiary rounded p-4"
     hx-target="this">
  {% include 'partials/alerts/go_to_chat_alert.html' %}
</div>

{% include 'common/scroll_to_url_instance.html' with param='next_uuid' target_class_suffix='mailbox-' transition_settle_color="#e2e3e5" %}

<script>
  document.addEventListener('htmx:afterSettle', function () {
    var mail = document.getElementById('mailbox-styled-block-{{ request.GET.next_uuid }}-js');
    if (mail) {
      mail.click();
    }
  }, { once: true });
</script>
