{% load i18n static %}

<div class="card-body">
  <h4 class="card-title mb-3">Question {{ expression_pos }} of {{ expression.math_quiz.math_expressions_count }}</h4>
  <p class="fs-5">Which planet is known as the Red Planet?</p>

  <div class="mt-4">
    <button class="btn btn-outline-light btn-answer">Earth</button>
    <button class="btn btn-outline-light btn-answer">Mars</button>
    <button class="btn btn-outline-light btn-answer">Jupiter</button>
    <button class="btn btn-outline-light btn-answer">Venus</button>
  </div>

  <div class="mt-4">
    <div class="progress">
      <div class="progress-bar" role="progressbar"
           style="width: {{ progress }}%;"
           aria-valuenow="30"
           aria-valuemin="0"
           aria-valuemax="100"></div>
    </div>
    <small class="text-light">{% translate 'Progress' %}: {{ step }}/{{ expression.math_quiz.math_expressions_count }}</small>
  </div>
  <div class="text-center mt-4">
    <button class="btn btn-warning px-4" id="next-quiz-btn"
            type="button">
      <i class="ti ti-arrow-right"></i> {% translate 'Next expression' %}
    </button>
  </div>
</div>
