{% load i18n static page_resolvers %}

<div id="quizzes-list-js">
  <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    {% for quiz in quizzes %}
      <div class="col mb-5">
        <div class="card h-100 border border-3">
          <img class="card-img-top"
               src="{% if quiz.math_description_image %}{{ quiz.math_description_image.url }}{% else %}{% static 'img/base/math_quiz_default_pic.png' %}{% endif %}" alt="quiz-image">
          <div class="card-body p-4">
            <div class="text-center">
              <h5 class="fw-bolder">{{ quiz.get_category_display }}</h5>
              <span class="small text-secondary" title="{% translate 'Time to finish the quiz' %}">
                <i class="ti ti-clock-hour-9"></i> {{ quiz.max_time_to_solve }}
              </span>
            </div>
          </div>
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-primary mt-auto" href="#">
              <i class="ti ti-player-play"></i> {% translate 'Start the quiz' %}
            </a></div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% render_htmx_pagination "#quizzes-list-js" %}
</div>
