{% load i18n static widget_tweaks widened_widget_tweaks %}

<div class="card-body">
  <div class="text-center mb-3">
    {% for stat_expression in expressions %}
      <button type="button"
              hx-get="{% url 'mathlab:gamearea:quizzes:hx-mathquiz-start-play' expression.math_quiz.uuid stat_expression.pk %}"
              hx-target=".quiz-card"
              class="btn btn{% if stat_expression.is_solved %}-success{% elif stat_expression.is_solved_as_fail %}-danger{% else %}-secondary{% endif %}
                     {% if expression.uuid == stat_expression.uuid %}btn-lg border border-1{% endif %}">
        {{ forloop.counter }}
      </button>
    {% endfor %}
  </div>
  <h4 class="card-title mb-3">Question {{ expression_pos }} of {{ expression.math_quiz.math_expressions_count }}</h4>
  <p class="fs-5">
    {% if expression.has_multiple_choices %}
      {{ expression.get_multiple_choice_question }}
    {% else %}
      {{ expression.latex_expression }}
    {% endif %}
  </p>

  <form {% render_form_spinner_attrs %} hx-post="{{ request.path }}">
    <div class="mt-4">
      {% render_field form.answer %}

      {% if expression.has_multiple_choices %}
        {% for answer_obj in task.answers.all %}
          {% if not current_task_is_finished %}
            <button type="button" class="btn btn-outline-light btn-answer" onclick="selectAnswer('{{ answer_obj.answer }}')">
              {{ answer_obj.answer }}
            </button>
          {% else %}
            <button type="button"
                    {% if answer_obj.is_correct_answer %}
                      class="btn btn-success btn-answer disabled"
                    {% elif not answer_obj.is_correct_answer %}
                      class="btn btn-danger btn-answer disabled"
                    {% else %}
                      class="btn btn-outline-light btn-answer disabled"
                    {% endif %}
            >
              {% if answer_obj.is_correct_answer %}✅{% endif %} {{ answer_obj.answer }}
            </button>
          {% endif %}
        {% endfor %}
      {% else %}
      {% endif %}
    </div>

    <div class="mt-4">
      <div class="progress">
        <div class="progress-bar" role="progressbar"
             style="width: {{ progress }}%;"
             aria-valuenow="30"
             aria-valuemin="0"
             aria-valuemax="100"></div>
      </div>
      <small class="text-light">{% translate 'Progress' %}: {{ progress_as_counter }}/{{ expression.math_quiz.math_expressions_count }}</small>
    </div>
    <div class="d-flex flex-column align-items-center text-center mt-4">
      {% if not current_task_is_finished %}
        {% if not is_last_expression_to_answer %}
          <span class="d-none"
                hx-get="{% url 'mathlab:gamearea:quizzes:hx-mathquiz-start-play' expression.math_quiz.uuid next_task_pk %}"
                hx-target=".quiz-card"
                hx-trigger="click from:#confirm-expr-btn"
          ></span>
          {% translate 'Confirm answer' as btn_label %}
          {% render_submit_button btn_label class="btn btn-success px-4 mb-2 d-none" id="confirm-expr-btn" with_icon="ti ti-progress-check" %}
        {% else %}
          {% translate 'Confirm answer and finish the quiz' as btn_label %}
          {% render_submit_button btn_label onclick="lastQuestionFinishQuiz()" class="btn btn-success px-4 mb-2 d-none" id="confirm-expr-btn" with_icon="ti ti-progress-check" %}
        {% endif %}
      {% endif %}
      <div class="d-flex mt-2">
        {% if previous_task_pk %}
          <button class="btn btn-warning px-4 me-2 btn-sm" id="previous-quiz-btn"
                  hx-get="{% url 'mathlab:gamearea:quizzes:hx-mathquiz-start-play' expression.math_quiz.uuid previous_task_pk %}"
                  hx-target=".quiz-card"
                  type="button">
            <i class="ti ti-arrow-left"></i> {% translate 'Previous expression' %}
          </button>
        {% endif %}
        {% if next_task_pk %}
          <button class="btn btn-warning px-4 btn-sm" id="next-quiz-btn"
                  hx-get="{% url 'mathlab:gamearea:quizzes:hx-mathquiz-start-play' expression.math_quiz.uuid next_task_pk %}"
                  hx-target=".quiz-card"
                  type="button">
            {% translate 'Next expression' %} <i class="ti ti-arrow-right"></i>
          </button>
        {% endif %}
      </div>
    </div>
  </form>
</div>

<script>
  function selectAnswer(value) {
    document.getElementById('id_answer').value = value;

    document.querySelectorAll('.btn-answer').forEach(btn => btn.classList.remove('active'));
    document.getElementById('confirm-expr-btn').classList.remove('d-none');
    event.target.classList.add('active');
  }

  function lastQuestionFinishQuiz() {
    document.addEventListener('htmx:afterRequest', function () {
      window.location = '{% url 'mathlab:gamearea:quizzes:mathquiz-base' expression.math_quiz.uuid %}?next_finish_quiz=true';
    });
  }
</script>
