{% extends 'forum/forum_base_page.html' %}
{% load static %}

{% block head %}
<script src="{% static 'error_btn_listener.js' %}"></script>
<link type="text/css" href="{% static 'forum_creation.css' %}" rel="stylesheet">
<title>MathLab | Чат</title>
{% endblock %}

{% block body %}
{% endblock %}

{% block content %}
{% load filters %}
<p class="messageContainer"></p>
{% for message in messages %}
<span>{{ message.sender }}</span>
<time>Написав: {{ message.sent_at|timesince }}</time>
<p>{{ message.message }}</p>
{% endfor %}
<body style="text-align: center; margin-top">
<input class="form-control" style="width: 400px; height: 60px; text-align: center; display: math;"
       type="text" id="messageInput" placeholder="Ваше повідомлення для {{ username }}...">
    <button class="btn btn-dark" onclick="sendMessage({{ user.id }}, {{ receiver }})">Відправити</button>
    <script src="{% static 'chat.js' %}"></script>
</body>
<p style="margin-top: 20px;">
    {% if page > 1 %}
    <a class="btn btn-dark"
       href="{% url 'ws-chat' receiver=receiver username=username %}?page={{ page|add:-1 }}"
       type="submit">Назад</a>
    {% endif %}
    {% if message_counter == 8 %}
    <a class="btn btn-dark"
       href="{% url 'ws-chat' receiver=receiver username=username %}?page={{ page|add:1 }}"
    type="submit">Далі</a>
    {% endif %}
</p>

{% endblock %}