{% extends 'forum/forum_base_page.html' %}

{% load static %}
{% load filters %}

{% block head %}
<link type="text/css" href="{% static 'forum_base.css' %}" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>MathLab | Чати</title>
</head>
{% endblock %}

{% block body %}
<body>
    <div class="block-body">
        <h1 style="text-align: center;" class="display-4">Чати</h1>
    </div>
</body>
{% endblock %}

{% block content %}
<div>
    <div class="base-content">
        <div style="border-top: 1px solid #858383;"></div>
        {% for chat in all_chats %}
        <div style="text-align: left;">
            <div class="question">
                <div style="transform: translateX(50px);">
                    <div class="base-title-info-chat">
                        {% load filters %}
                        <a style="text-decoration: none; color: black;"
                           type="button" href="{% url 'ws-chat' receiver=chat.receiver_pk username=chat.chatroom_user2 %}"
                        >Чат між <b>{{ chat.chatroom_user2 }}</b> та <b>{{ chat.chatroom_user1 }}</b></a>
                        <a style="text-decoration: none; color: black;"
                           type="button" href="{% url 'ws-chat' receiver=chat.receiver_pk username=chat.chatroom_user2 %}"
                        >Останнє повідомлення:
                        <b>{{ chat.sender_username }}</b> написав: <b>{{ chat.latest_message }}</b> |
                            {{ chat.sent_at_last_message|timesince }} тому</a>
                    </div>
                </div>
            </div>
        </div>
        <div style="border-top: 1px solid #858383;"></div>
        {% endfor %}
        <div style="text-align: center; margin-top: 30px; margin-bottom: -15px;">
            {% if page > 1 %}
            <a type="submit" href="{% url 'chat-list' %}?page={{ page|add:'-1' }}" class="btn btn-dark btn-sm">Назад</a>
            {% endif %}
            {% if page == 10 %}
            <a type="submit" href="{% url 'chat-list' %}?page={{ page|add:'1' }}" class="btn btn-dark btn-sm">Далі</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
